<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict/>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>01-Download-and-Initial-Setup</string>
				<string>02-Theming-and-Dark-Mode</string>
				<string>03-Navigation-Bar</string>
				<string>04-Sidebar-Navigation</string>
				<string>05-Container-and-Grid</string>
				<string>06-Text-and-Button</string>
				<string>07-Form</string>
				<string>08-Carousel</string>
				<string>09-Accordion</string>
				<string>10-Modal</string>
				<string>11-Icons</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Pages</string>
</dict>
</plist>
