<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>author/copyright info</key>
    <string>Futural UG (haftungsbeschraenkt)</string>
    <key>CFBundleIdentifier</key>
    <string>com.instacks.blankstrap5.carousel</string>
    <key>CFBundleVersion</key>
    <string>5.3.7</string>
    <key>CFBundleShortVersionString</key>
    <string>5.3.7</string>
    <key>author</key>
    <string>inStacks Software</string>
    <key>group</key>
    <string>Blankstrap 5</string>
    <key>RWAddonAuthor</key>
    <string>inStacks Software</string>
    <key>RWAddonManagerIconAsset</key>
    <string>icon</string>
    <key>RWAddonSupportURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>helpURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>infoURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>icon</key>
    <string>icon</string>
    <key>minAPIVersion</key>
    <integer>11</integer>
    <key>preprocessor</key>
    <true/>
    <key>inheritsFrom</key>
    <string>com.instacks.blankstrap5.element</string>
    <key>inline</key>
    <true/>
    <key>title</key>
    <string>Carousel</string>
    <key>subtitle</key>
    <string>Carousel</string>
    <key>customItems</key>
    <array>
        <dict>
            <key>id</key>
            <string>responsive_height_1</string>
            <key>type</key>
            <string>number-3</string>
            <key>default</key>
            <array>
                <integer>20</integer>
                <integer>25</integer>
                <integer>30</integer>
            </array>
            <key>units</key>
            <string>rem</string>
            <key>min</key>
            <integer>1</integer>
            <key>max</key>
            <integer>1000</integer>
            <key>title</key>
            <string>Resp. Height</string>
            <key>subtitles</key>
            <array>
                <string>xs</string>
                <string>sm</string>
                <string>md</string>
            </array>
        </dict>
        <dict>
            <key>id</key>
            <string>responsive_height_2</string>
            <key>type</key>
            <string>number-3</string>
            <key>default</key>
            <array>
                <integer>35</integer>
                <integer>40</integer>
                <integer>50</integer>
            </array>
            <key>units</key>
            <string>rem</string>
            <key>min</key>
            <integer>1</integer>
            <key>max</key>
            <integer>1000</integer>
            <key>title</key>
            <string>Resp. Height</string>
            <key>subtitles</key>
            <array>
                <string>lg</string>
                <string>xl</string>
                <string>xxl</string>
            </array>
        </dict>
        <dict>
            <key>type</key>
            <string>divider</string>
        </dict>
        <dict>
            <key>id</key>
            <string>control</string>
            <key>type</key>
            <string>checkbox</string>
            <key>default</key>
            <true/>
            <key>title</key>
            <string>Controls</string>
            <key>toolTip</key>
            <string>Display controls</string>
        </dict>
        <dict>
            <key>id</key>
            <string>indicator</string>
            <key>type</key>
            <string>checkbox</string>
            <key>default</key>
            <true/>
            <key>title</key>
            <string>Indicators</string>
            <key>toolTip</key>
            <string>Display indicators</string>
        </dict>
        <dict>
            <key>id</key>
            <string>fade</string>
            <key>type</key>
            <string>checkbox</string>
            <key>default</key>
            <false/>
            <key>title</key>
            <string>Crossfade</string>
            <key>toolTip</key>
            <string>Fade slides</string>
        </dict>
        <dict>
            <key>id</key>
            <string>dark</string>
            <key>type</key>
            <string>checkbox</string>
            <key>default</key>
            <false/>
            <key>title</key>
            <string>Dark Variant</string>
            <key>toolTip</key>
            <string>Display in darker colors</string>
        </dict>
        <dict>
            <key>type</key>
            <string>divider</string>
        </dict>
        <dict>
            <key>id</key>
            <string>center</string>
            <key>type</key>
            <string>checkbox</string>
            <key>default</key>
            <true/>
            <key>title</key>
            <string>Center Image</string>
            <key>toolTip</key>
            <string>Center image</string>
        </dict>
        <dict>
            <key>id</key>
            <string>parallax</string>
            <key>type</key>
            <string>checkbox</string>
            <key>default</key>
            <false/>
            <key>title</key>
            <string>Parallax Image on Desktop</string>
            <key>toolTip</key>
            <string>Parallax image on desktop devices (not on mobile)</string>
        </dict>
    </array>
    <key>assets</key>
    <array>
    </array>
    <key>libraries</key>
    <array>
    </array>
    <key>tags</key>
    <array>
        <string>Blankstrap 5</string>
        <string>Bootstrap</string>
        <string>B5 Carousel</string>
        <string>Slide</string>
    </array>
    <key>templates</key>
    <array>
        <dict>
            <key>type</key>
            <string>html</string>
            <key>filename</key>
            <string>each.html</string>
        </dict>
        <dict>
            <key>type</key>
            <string>css</string>
            <key>filename</key>
            <string>each.css</string>
        </dict>
        <dict>
            <key>type</key>
            <string>js</string>
            <key>filename</key>
            <string>each.js</string>
        </dict>
        <dict>
            <key>type</key>
            <string>js</string>
            <key>filename</key>
            <string>page.js</string>
            <key>scope</key>
            <string>page</string>
        </dict>
    </array>
</dict>
</plist>