<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.instacks.blankstrap5.theme</string>
    <key>title</key>
    <string>Blankstrap 5 Theme</string>
    <key>subtitle</key>
    <string>Blank Bootstrap 5 Theme for Stacks 6</string>
    <key>icon</key>
    <string>icon</string>
    <key>CFBundleVersion</key>
    <string>5.3.7</string>
    <key>CFBundleShortVersionString</key>
    <string>5.3.7</string>
    <key>author</key>
    <string>inStacks Software</string>
    <key>type</key>
    <string>theme</string>
    <key>preprocessor</key>
    <true/>
    <key>parent</key>
    <string>com.yourhead.stacks.theme.base</string>
    <key>inheritsFrom</key>
    <string>com.yourhead.stacks.theme.base</string>
    <key>assets</key>
    <array>
        <dict>
            <key>filename</key>
            <string>css</string>
        </dict>
        <dict>
            <key>filename</key>
            <string>js</string>
        </dict>
    </array>
    <key>tags</key>
    <array>
        <string>theme</string>
        <string>bootstrap</string>
        <string>blankstrap</string>
    </array>
    <key>customItems</key>
    <array>
        <dict>
            <key>group</key>
            <string>Light and Dark Color Scheme</string>
            <key>id</key>
            <string>custom</string>
            <key>type</key>
            <string>checkbox</string>
            <key>default</key>
            <false/>
            <key>title</key>
            <string>Use Custom Bootstrap CSS File</string>
            <key>toolTip</key>
            <string>Use Custom Bootstrap CSS File</string>
        </dict>
        <dict>
            <key>group</key>
            <string>Light and Dark Color Scheme</string>
            <key>id</key>
            <string>custom_css_file</string>
            <key>type</key>
            <string>input</string>
            <key>default</key>
            <string></string>
            <key>title</key>
            <string>CSS File Source</string>
            <key>toolTip</key>
            <string>Custom Bootstrap CSS File Source</string>
			<key>enable</key>
			<dict>
				<key>id</key>
				<string>custom</string>
				<key>value</key>
				<true/>
			</dict>
        </dict>
        <dict>
            <key>group</key>
            <string>Light and Dark Color Scheme</string>
            <key>id</key>
            <string>dark_mode_switch</string>
            <key>type</key>
            <string>checkbox</string>
            <key>default</key>
            <true/>
            <key>title</key>
            <string>Automatic Dark Mode Switch</string>
            <key>toolTip</key>
            <string>Enable Automatic Dark Mode Theme Switch</string>
        </dict>
        <dict>
            <key>group</key>
            <string>Navigation</string>
            <key>id</key>
            <string>navigation</string>
            <key>title</key>
            <string>Show Theme Navigation</string>
            <key>type</key>
            <string>checkbox</string>
            <key>default</key>
            <false/>
        </dict>
        <dict>
            <key>group</key>
            <string>Navigation</string>
            <key>id</key>
            <string>container</string>
            <key>type</key>
            <string>select</string>
            <key>default</key>
            <string>container</string>
            <key>title</key>
            <string>Width</string>
            <key>toolTip</key>
            <string>Width</string>
            <key>items</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>Container</string>
                    <key>value</key>
                    <string>container</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Container Small</string>
                    <key>value</key>
                    <string>container-sm</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Container Medium</string>
                    <key>value</key>
                    <string>container-md</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Container Large</string>
                    <key>value</key>
                    <string>container-lg</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Container Extra Large</string>
                    <key>value</key>
                    <string>container-xl</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Container Extra Extra Large</string>
                    <key>value</key>
                    <string>container-xxl</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Container Fluid</string>
                    <key>value</key>
                    <string>container-fluid</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>None</string>
                    <key>value</key>
                    <string></string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>group</key>
            <string>Navigation</string>
            <key>id</key>
            <string>fixed</string>
            <key>type</key>
            <string>select</string>
            <key>default</key>
            <string></string>
            <key>title</key>
            <string>Fixed</string>
            <key>toolTip</key>
            <string>Fix navigation to top</string>
            <key>items</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>Fixed/Sticky</string>
                    <key>value</key>
                    <string>fixed</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Fixed/Sticky - Hide on Scroll</string>
                    <key>value</key>
                    <string>fixed-headroom</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Not Fixed/Sticky</string>
                    <key>value</key>
                    <string></string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>group</key>
            <string>Navigation</string>
            <key>id</key>
            <string>text_color</string>
            <key>type</key>
            <string>select</string>
            <key>default</key>
            <string></string>
            <key>title</key>
            <string>Text Color</string>
            <key>toolTip</key>
            <string>Text Color</string>
            <key>items</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>Dark</string>
                    <key>value</key>
                    <string>navbar-light</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Light</string>
                    <key>value</key>
                    <string>navbar-dark</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>None</string>
                    <key>value</key>
                    <string></string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>group</key>
            <string>Navigation</string>
            <key>id</key>
            <string>background_color</string>
            <key>type</key>
            <string>select</string>
            <key>default</key>
            <string></string>
            <key>title</key>
            <string>Back Color</string>
            <key>toolTip</key>
            <string>Background Color</string>
            <key>items</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>Light</string>
                    <key>value</key>
                    <string>bg-light</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Dark</string>
                    <key>value</key>
                    <string>bg-dark</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Primary</string>
                    <key>value</key>
                    <string>bg-primary</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Secondary</string>
                    <key>value</key>
                    <string>bg-secondary</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Success</string>
                    <key>value</key>
                    <string>bg-success</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Danger</string>
                    <key>value</key>
                    <string>bg-danger</string>
                </dict>                
                <dict>
                    <key>title</key>
                    <string>Warning</string>
                    <key>value</key>
                    <string>bg-warning</string>
                </dict>                
                <dict>
                    <key>title</key>
                    <string>Info</string>
                    <key>value</key>
                    <string>bg-info</string>
                </dict>                
                <dict>
                    <key>title</key>
                    <string>Body</string>
                    <key>value</key>
                    <string>bg-body</string>
                </dict>                
                <dict>
                    <key>title</key>
                    <string>White</string>
                    <key>value</key>
                    <string>bg-white</string>
                </dict>                
                <dict>
                    <key>title</key>
                    <string>Transparent</string>
                    <key>value</key>
                    <string>bg-transparent</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>None</string>
                    <key>value</key>
                    <string></string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>group</key>
            <string>Navigation</string>
            <key>type</key>
            <string>divider</string>
        </dict>
        <dict>
            <key>group</key>
            <string>Navigation</string>
            <key>id</key>
            <string>toggler_btn</string>
            <key>type</key>
            <string>input</string>
            <key>default</key>
            <string></string>
            <key>title</key>
            <string>Toggler Button</string>
            <key>toolTip</key>
            <string>Additional toggler button class</string>
        </dict>
        <dict>
            <key>group</key>
            <string>Navigation</string>
            <key>id</key>
            <string>toggler_icon</string>
            <key>type</key>
            <string>input</string>
            <key>default</key>
            <string>navbar-toggler-icon</string>
            <key>title</key>
            <string>Toggler Icon</string>
            <key>toolTip</key>
            <string>Toggler icon class</string>
        </dict>
        <dict>
            <key>group</key>
            <string>Navigation</string>
            <key>id</key>
            <string>toggler</string>
            <key>type</key>
            <string>select</string>
            <key>default</key>
            <string>end</string>
            <key>title</key>
            <string>Toggler Location</string>
            <key>toolTip</key>
            <string>Display menu toggler at start or end of navigation bar</string>
            <key>items</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>Start</string>
                    <key>value</key>
                    <string>start</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>End</string>
                    <key>value</key>
                    <string>end</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>group</key>
            <string>Navigation</string>
            <key>id</key>
            <string>expand</string>
            <key>type</key>
            <string>select</string>
            <key>default</key>
            <string>navbar-expand-lg</string>
            <key>title</key>
            <string>Expand</string>
            <key>toolTip</key>
            <string>Expand the navigation at which breakpoint</string>
            <key>items</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>Do not expand</string>
                    <key>value</key>
                    <string></string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Expand Small</string>
                    <key>value</key>
                    <string>navbar-expand-sm</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Expand Medium</string>
                    <key>value</key>
                    <string>navbar-expand-md</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Expand Large</string>
                    <key>value</key>
                    <string>navbar-expand-lg</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Expand Extra Large</string>
                    <key>value</key>
                    <string>navbar-expand-xl</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Expand Extra Extra Large</string>
                    <key>value</key>
                    <string>navbar-expand-xxl</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>group</key>
            <string>Navigation</string>
            <key>id</key>
            <string>justify_content</string>
            <key>type</key>
            <string>select</string>
            <key>default</key>
            <string>justify-content-end</string>
            <key>title</key>
            <string>Justify Content</string>
            <key>toolTip</key>
            <string>Justify navigation content</string>
            <key>items</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>Start</string>
                    <key>value</key>
                    <string>justify-content-start</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Center</string>
                    <key>value</key>
                    <string>justify-content-center</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>End</string>
                    <key>value</key>
                    <string>justify-content-end</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>group</key>
            <string>Navigation</string>
            <key>id</key>
            <string>content_area</string>
            <key>type</key>
            <string>checkbox</string>
            <key>default</key>
            <false/>
            <key>title</key>
            <string>Add. Content Nav Links</string>
            <key>toolTip</key>
            <string>Display additional content area at end / below of navigation links</string>
        </dict>
        <dict>
            <key>group</key>
            <string>Navigation</string>
            <key>id</key>
            <string>content_area_html</string>
            <key>type</key>
            <string>multi-4</string>
            <key>default</key>
            <string></string>
            <key>title</key>
            <string>HTML</string>
            <key>toolTip</key>
            <string>HTML for additional content area below navigation links</string>
			<key>enable</key>
			<dict>
				<key>id</key>
				<string>content_area</string>
				<key>value</key>
				<true/>
			</dict>
        </dict>
        <dict>
            <key>group</key>
            <string>Navigation</string>
            <key>type</key>
            <string>divider</string>
        </dict>
        <dict>
            <key>group</key>
            <string>Navigation</string>
            <key>id</key>
            <string>offcanvas</string>
            <key>title</key>
            <string>Sidebar / Offcanvas Nav.</string>
            <key>type</key>
            <string>checkbox</string>
            <key>default</key>
            <false/>
            <key>toolTip</key>
            <string>Use a Sidebar or Offcanvas Navigation</string>
        </dict>
        <dict>
            <key>group</key>
            <string>Navigation</string>
            <key>id</key>
            <string>header</string>
            <key>type</key>
            <string>input</string>
            <key>default</key>
            <string>Menu Title</string>
            <key>title</key>
            <string>Menu Header</string>
            <key>toolTip</key>
            <string>Menu header text</string>
        </dict>
        <dict>
            <key>group</key>
            <string>Navigation</string>
            <key>id</key>
            <string>content_area_navbar</string>
            <key>type</key>
            <string>checkbox</string>
            <key>default</key>
            <false/>
            <key>title</key>
            <string>Add. Content Nav Bar</string>
            <key>toolTip</key>
            <string>Display additional content area in navigation bar</string>
        </dict>
        <dict>
            <key>group</key>
            <string>Navigation</string>
            <key>id</key>
            <string>content_area_navbar_html</string>
            <key>type</key>
            <string>multi-4</string>
            <key>default</key>
            <string></string>
            <key>title</key>
            <string>HTML</string>
            <key>toolTip</key>
            <string>HTML for additional content area in navigation bar</string>
			<key>enable</key>
			<dict>
				<key>id</key>
				<string>content_area_navbar</string>
				<key>value</key>
				<true/>
			</dict>
        </dict>
        <!--
        <dict>
            <key>group</key>
            <string>Footer</string>
            <key>id</key>
            <string>footer</string>
            <key>title</key>
            <string>Show Theme Footer</string>
            <key>type</key>
            <string>checkbox</string>
            <key>default</key>
            <false/>
        </dict>
        -->
        <dict>
            <key>group</key>
            <string>Scroll Indicator</string>
            <key>id</key>
            <string>enable_indicator</string>
            <key>type</key>
            <string>checkbox</string>
            <key>default</key>
            <false/>
            <key>title</key>
            <string>Enable Indicator</string>
            <key>title</key>
            <string>Enable scroll indicator</string>
        </dict>
        <dict>
            <key>group</key>
            <string>Scroll Indicator</string>
            <key>id</key>
            <string>indicator_height</string>
            <key>title</key>
            <string>Height</string>
            <key>type</key>
            <string>number</string>
            <key>default</key>
            <integer>2</integer>
            <key>units</key>
            <string>px</string>
            <key>min</key>
            <integer>1</integer>
            <key>max</key>
            <integer>200</integer>
        </dict>
        <dict>
            <key>group</key>
            <string>Scroll Indicator</string>
            <key>id</key>
            <string>indicator_color_default</string>
            <key>type</key>
            <string>color</string>
            <key>default</key>
            <string>#FFFFFF</string>
            <key>title</key>
            <string>Default Color</string>
            <key>toolTip</key>
            <string>Default Color</string>
            <key>allowsOpacity</key>
            <true/>
        </dict>
        <dict>
            <key>group</key>
            <string>Scroll Indicator</string>
            <key>id</key>
            <string>indicator_color_progress</string>
            <key>type</key>
            <string>color</string>
            <key>default</key>
            <string>#000000</string>
            <key>title</key>
            <string>Progress Color</string>
            <key>toolTip</key>
            <string>Progress Color</string>
            <key>allowsOpacity</key>
            <true/>
        </dict>
    </array>
    <key>libraries</key>
    <array>
    </array>
</dict>
</plist>
