---
title:  Navigation Item
detail: A link to the page along with a list of the sub-pages
        the parameter to this partial should a page object
id:     navitem
---
:(if @count(navpage.children) < 1):
    <li class="nav-item"><a class="nav-link :(if nav_page.current):active:(endif):" :(if nav_page.current):aria-current="page":(endif): href=":(navpage.href):">:(navpage.title):</a></li>
:(else):
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">:(navpage.title):</a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
            :(for child in navpage.children):
                <li><a class="dropdown-item :(if nav_page.current):active:(endif):" :(if nav_page.current):aria-current="page":(endif): href=":(child.href):">:(child.title):</a></li>
            :(end):
        </ul>
    </li>
:(end):
