
--- 
id: page
title: Untitled Page
description: |
    This file is the standard html5 page structure
    and includes the standard head and top-level templates and content. Your theme
    can leave this busywork to Stacks, or for a fully custom theme, this file
    can be overridden entirely. However it should include all of the content that
    the base theme includes.
---

:(content.prefix):<!doctype html>
<html lang="en">
    :(include "head"):
    :(include "body"):
</html>:(content.suffix):
