
--- 
id: properties
someText: example values
moreText: added using YAML format
aPath: /path/to/a/file.html
bPath: /path/

colorProps:
    allowsOpacity: true
    prefix: "$"
    operator: "+"
    operand: "20"

---


<div>

    <h3>Custom Controls</h3>
    <h5>customItems from Theme plist</h5>
    
    <p>
        These are the custom items that stack developers will
        recognize from the Stack API. All Stack API Controls
        are available in the Theme API too.
    </p>

    <pre>
showProperties: :(showProperties):
width:          :(width):
height:         :(height):
size:           :(size):
opacity:        :(opacity):
    </pre>

    <hr>

    <h3>Properties Frontmatter</h3>
    <h5>properties in the YAML in <code>properties.html</code></h5>

    <p>
        properties defined in the frontmatter of a template
        are available to that template and any templates
        that it includes.
    </p>

    <pre>
someText:       :(someText):
moreText:       :(moreText):
aPath:          :(aPath):
bPath:          :(bPath):
    </pre>


    <h3>Body Frontmatter</h3>
    <h5>properties in the YAML in <code>body.html</code></h5>

    <p>
        Note how the properties introduced in the body are
        available in any included templates
    </p>

    <pre>
colorProps:     :(colorProps):
sampleThemeId:  :(sampleThemeId):
:(site.theme.parent.uid):
    </pre>

    <h3>Internal Properties</h3>
    <h5>Just a few properties from the Theme API</h5>

    <p>
        Try adding <code>&colon;(page)&colon;</code> or 
        <code>&colon;(site)&colon;</code> to see
        the complete contents of those objects.
    </p>

<h5>The Page</h5>
    <pre>
page.title:                 :(page.title):
page.uid:                   :(page.uid):
page.title:                 :(page.title):
colorProps:                 :(page.fileName):
colorProps:                 :(page.link):
    </pre>

<h5>The Site</h5>
    <pre>
site.baseURL:               :(site.baseURL):
site.domain:                :(site.domain):
site.title:                 :(site.title):
site.urlString:             :(site.urlString):
    </pre>

<h5>The Theme's Parent</h5>
    <pre>
site.theme.parent.title:    :(site.theme.parent.title):
site.theme.parent.uid:      :(site.theme.parent.uid):
    </pre>


</div>