<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict/>
				<key>RWFileReferences</key>
				<dict>
					<key>EA44038D-13F5-48F2-A0F2-F4F559615523</key>
					<dict>
						<key>fileName</key>
						<string>icon@2x.png</string>
						<key>identifier</key>
						<string>EA44038D-13F5-48F2-A0F2-F4F559615523</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/dt/09vd5qy94yd_v_43f9ch03cr0000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-33870/6i44WK/icon@2x.png</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>F9046FAB-26A7-456B-8419-6BDD9B4476CC</key>
					<dict>
						<key>fileName</key>
						<string>icon@2x.png</string>
						<key>identifier</key>
						<string>F9046FAB-26A7-456B-8419-6BDD9B4476CC</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/dt/09vd5qy94yd_v_43f9ch03cr0000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-11223/cbgTDe/icon@2x.png</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hp
				dmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRB
				cmNoaXZlctEICVRyb290gAGvEBwLDBUWICEiJSwxREVG
				R0tOUlZXW2ZnaGlscHF1VSRudWxs0w0ODxASFFdOUy5r
				ZXlzWk5TLm9iamVjdHNWJGNsYXNzoRGAAqETgAOAG1Ru
				b2Rl1RcYGRoPGxwdHh9UTmFtZVVpdGVtc1ppZGVudGlm
				aWVyWGNoaWxkcmVugAWACIAEgAaAGl8QJEU4NjRDMjEy
				LUIzNDktNDJDMi1CRkNELTBDQ0ZGNUMzRURGMF8QD1Vu
				dGl0bGVkIEZvbGRlctIODyMkoIAH0iYnKClaJGNsYXNz
				bmFtZVgkY2xhc3Nlc15OU011dGFibGVBcnJheaMoKitX
				TlNBcnJheVhOU09iamVjdNIODy0koi4vgAmAE4AH2jIz
				DzQ1Nhc3ODk6Ozw9PT9AQUJDXlJlbW90ZVJlc291cmNl
				W09yaWdpbmFsVVJMXFB1Ymxpc2hlZFVSTF1QdWJsaXNo
				ZWREYXRlXxAPQ2hhbmdlZFN0YXR1c2VzWklkZW50aWZp
				ZXJZVGltZVN0YW1wWUZpbGVUb2tlbgiAEYASgACAAIAP
				gAuACoANgAxfECQ3Q0I3RkMxMC0wMjMxLTQzRUYtQkJC
				Ri03MjU1MTlFN0ZBQkVbaWNvbkAyeC5wbmdfECRGOTA0
				NkZBQi0yNkE3LTQ1NkItODQxOS02QkREOUI0NDc2Q0PS
				SA9JSldOUy50aW1lI0HCIDbDzjOmgA7SJidMTVZOU0Rh
				dGWiTCvTDQ4PT1BRoKCAENImJ1NUXxATTlNNdXRhYmxl
				RGljdGlvbmFyeaNTVStcTlNEaWN0aW9uYXJ5XxAzL1Vz
				ZXJzL2Q0NTkvRGV2ZWxvcGVyL2JsYW5rc3RyYXA1L2lj
				b25zL2ljb25AMngucG5n0iYnWFleUldTaXRlUmVzb3Vy
				Y2WiWiteUldTaXRlUmVzb3VyY2XaMjMPNDU2Fzc4OTpd
				PD09YWJjZGUIgBmAEoAAgACAGIAVgBSAF4AWXxAkMkU4
				QTZBQTEtRjY1OS00NURBLTk5NUQtMzU0RDQ0RjY3N0Y2
				W2ljb25AMngucG5nXxAkRUE0NDAzOEQtMTNGNS00OEYy
				LUEwRjItRjRGNTU5NjE1NTIz0kgPakojQcIi2tEOwCKA
				DtMNDg9tblGgoIAQXxBdL1VzZXJzL2Q0NTkvRGV2ZWxv
				cGVyL2JsYW5rc3RyYXA1L0JsYW5rc3RyYXA1LnN0YWNr
				L2NvcmUuc3RhY2svQ29udGVudHMvUmVzb3VyY2VzL2lj
				b25AMngucG5n0iYncnNcUldTaXRlRm9sZGVyonQrXFJX
				U2l0ZUZvbGRlctImJ1V2olUrAAgAEQAaACQAKQAyADcA
				SQBMAFEAUwByAHgAfwCHAJIAmQCbAJ0AnwChAKMAqACz
				ALgAvgDJANIA1ADWANgA2gDcAQMBFQEaARsBHQEiAS0B
				NgFFAUkBUQFaAV8BYgFkAWYBaAF9AYwBmAGlAbMBxQHQ
				AdoB5AHlAecB6QHrAe0B7wHxAfMB9QH3Ah4CKgJRAlYC
				XgJnAmkCbgJ1AngCfwKAAoECgwKIAp4CogKvAuUC6gL5
				AvwDCwMgAyEDIwMlAycDKQMrAy0DLwMxAzMDWgNmA40D
				kgObA50DpAOlA6YDqAQIBA0EGgQdBCoELwAAAAAAAAIB
				AAAAAAAAAHcAAAAAAAAAAAAAAAAAAAQy
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BaseURL</key>
					<string>https://instacks.github.io/blankstrap/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© inStacks Software</string>
					<key>CopyrightTextUsed</key>
					<false/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.php</string>
						<string>index.html</string>
						<string>index.htm</string>
					</array>
					<key>EmailAddress</key>
					<string></string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array/>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SiteLogoIdentifier</key>
					<string>2E8A6AA1-F659-45DA-995D-354D44F677F6</string>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Blankstrap 5</string>
					<key>TitleText</key>
					<string>Blankstrap 5</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>3C1161E0-2ACA-4752-B131-D0C783375D06_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>globalBody</key>
					<string></string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<true/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<true/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAGlCwwRFx5VJG51bGzSDQ4PEFpkaWN0aW9u
					YXJ5ViRjbGFzc4ACgATTEhMOFBUWV05TLmtl
					eXNaTlMub2JqZWN0c6CggAPSGBkaG1okY2xh
					c3NuYW1lWCRjbGFzc2VzXxATTlNNdXRhYmxl
					RGljdGlvbmFyeaMaHB1cTlNEaWN0aW9uYXJ5
					WE5TT2JqZWN00hgZHyBeV2ViSWNvblBhY2th
					Z2WiIR1eV2ViSWNvblBhY2thZ2UACAARABoA
					JAApADIANwBJAEwAUQBTAFkAXwBkAG8AdgB4
					AHoAgQCJAJQAlQCWAJgAnQCoALEAxwDLANgA
					4QDmAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
