<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expandedItems</key>
	<array>
		<string>page2</string>
	</array>
	<key>pageInspectorVisible</key>
	<true/>
	<key>projectViewVisible</key>
	<true/>
	<key>projectViewWidth</key>
	<real>262.5</real>
	<key>selectedInspectorTab</key>
	<string>pageSettings</string>
	<key>selectedItems</key>
	<array>
		<string>page18</string>
	</array>
	<key>selectedMode</key>
	<integer>0</integer>
</dict>
</plist>
