<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>build</key>
				<string>4131</string>
				<key>partialData</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGFBVYJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoKMHCA1VJG51bGzS
				CQoLDFpOUy5vYmplY3RzViRjbGFzc6CAAtIODxARWiRj
				bGFzc25hbWVYJGNsYXNzZXNcTlNNdXRhYmxlU2V0oxAS
				E1VOU1NldFhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
				ctEWF1hwYXJ0aWFsc4ABCBEaIy0yNztBRlFYWVtga3SB
				hYuUpqmyAAAAAAAAAQEAAAAAAAAAGAAAAAAAAAAAAAAA
				AAAAALQ=
				</data>
				<key>version</key>
				<string>3.5.7b2</string>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array/>
		</dict>
	</array>
	<key>Type</key>
	<string>com.yourhead.stacksDocument</string>
</dict>
</plist>
