<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>author/copyright info</key>
    <string>Futural UG (haftungsbeschraenkt)</string>
    <key>CFBundleIdentifier</key>
    <string>com.instacks.blankstrap5.input</string>
    <key>CFBundleVersion</key>
    <string>5.3.7</string>
    <key>CFBundleShortVersionString</key>
    <string>5.3.7</string>
    <key>author</key>
    <string>inStacks Software</string>
    <key>group</key>
    <string>inStacks Software</string>
    <key>RWAddonAuthor</key>
    <string>inStacks Software</string>
    <key>RWAddonManagerIconAsset</key>
    <string>icon</string>
    <key>RWAddonSupportURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>helpURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>infoURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>icon</key>
    <string>icon</string>
    <key>minAPIVersion</key>
    <integer>11</integer>
    <key>preprocessor</key>
    <true/>
    <key>inheritsFrom</key>
    <string>com.instacks.blankstrap5.element</string>
    <key>title</key>
    <string>Input</string>
    <key>subtitle</key>
    <string>Input</string>
    <key>inline</key>
    <true/>
    <key>childOf</key>
    <array>
        <string>com.instacks.blankstrap5.form</string>
    </array>
    <key>assets</key>
    <array/>
    <key>customItems</key>
    <array>
        <dict>
            <key>id</key>
            <string>type</string>
            <key>type</key>
            <string>select</string>
            <key>default</key>
            <string>text</string>
            <key>title</key>
            <string>Type</string>
            <key>toolTip</key>
            <string>Type of input</string>
            <key>items</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>Button</string>
                    <key>value</key>
                    <string>button</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Checkbox</string>
                    <key>value</key>
                    <string>checkbox</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Color</string>
                    <key>value</key>
                    <string>color</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Date</string>
                    <key>value</key>
                    <string>date</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Datetime-local</string>
                    <key>value</key>
                    <string>datetime-local</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Email</string>
                    <key>value</key>
                    <string>email</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>File</string>
                    <key>value</key>
                    <string>file</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Hidden</string>
                    <key>value</key>
                    <string>hidden</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Image</string>
                    <key>value</key>
                    <string>image</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Month</string>
                    <key>value</key>
                    <string>month</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Number</string>
                    <key>value</key>
                    <string>number</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Password</string>
                    <key>value</key>
                    <string>password</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Radio</string>
                    <key>value</key>
                    <string>radio</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Range</string>
                    <key>value</key>
                    <string>range</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Reset</string>
                    <key>value</key>
                    <string>reset</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Search</string>
                    <key>value</key>
                    <string>search</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Submit</string>
                    <key>value</key>
                    <string>submit</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Tel</string>
                    <key>value</key>
                    <string>tel</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Text</string>
                    <key>value</key>
                    <string>text</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Time</string>
                    <key>value</key>
                    <string>time</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Url</string>
                    <key>value</key>
                    <string>url</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Week</string>
                    <key>value</key>
                    <string>week</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>id</key>
            <string>name</string>
            <key>type</key>
            <string>input</string>
            <key>default</key>
            <string></string>
            <key>title</key>
            <string>Name</string>
            <key>toolTip</key>
            <string>Name</string>
        </dict>
        <dict>
            <key>id</key>
            <string>value</string>
            <key>type</key>
            <string>input</string>
            <key>default</key>
            <string></string>
            <key>title</key>
            <string>Value</string>
            <key>toolTip</key>
            <string>Value</string>
        </dict>
        <dict>
            <key>id</key>
            <string>placeholder</string>
            <key>type</key>
            <string>input</string>
            <key>default</key>
            <string></string>
            <key>title</key>
            <string>Placeholder</string>
            <key>toolTip</key>
            <string>Placeholder</string>
        </dict>
        <dict>
            <key>id</key>
            <string>required</string>
            <key>type</key>
            <string>checkbox</string>
            <key>default</key>
            <false/>
            <key>title</key>
            <string>Required</string>
            <key>toolTip</key>
            <string>Required</string>
        </dict>
        <dict>
            <key>id</key>
            <string>readonly</string>
            <key>type</key>
            <string>checkbox</string>
            <key>default</key>
            <false/>
            <key>title</key>
            <string>Readonly</string>
            <key>toolTip</key>
            <string>Readonly</string>
        </dict>
        <dict>
            <key>id</key>
            <string>disabled</string>
            <key>type</key>
            <string>checkbox</string>
            <key>default</key>
            <false/>
            <key>title</key>
            <string>Disabled</string>
            <key>toolTip</key>
            <string>Disabled</string>
        </dict>
    </array>
    <key>templates</key>
    <array>
        <dict>
            <key>type</key>
            <string>html</string>
            <key>filename</key>
            <string>each.html</string>
        </dict>
        <dict>
            <key>type</key>
            <string>css</string>
            <key>filename</key>
            <string>each.css</string>
        </dict>
        <dict>
            <key>type</key>
            <string>js</string>
            <key>filename</key>
            <string>each.js</string>
        </dict>
    </array>
    <key>tags</key>
    <array>
        <string>Blankstrap 5</string>
        <string>Bootstrap</string>
        <string>B5 Input</string>
        <string>Form</string>
        <string>B5 Form</string>
    </array>
</dict>
</plist>
