<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2017-07-13T09:53:50Z</date>
				<key>ID</key>
				<string>page0</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>&lt;i class="fa fa-home fa-lg fa-fw"&gt;&lt;/i&gt;  Home</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.5.5b1</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/d459/Library/Mobile%20Documents/com~apple~CloudDocs/Development/Blankstrap/docs/</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-11-03T23:18:52Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks-image-2e9513b.png</key>
							<dict>
								<key>Digest</key>
								<data>
								T+0D0NwGCpZw
								vzCeoEFiLA==
								</data>
								<key>Size</key>
								<integer>80638</integer>
							</dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								4L7Q1Fda1Rg+
								6rePKyu0+w==
								</data>
								<key>Size</key>
								<integer>709</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								OlBE1GzOjSZK
								eutYvJBhPw==
								</data>
								<key>Size</key>
								<integer>8083</integer>
							</dict>
							<key>rw_common/images/icon@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								iB1yoVXvB8ZF
								XEA2Mr1YHw==
								</data>
								<key>Size</key>
								<integer>14299</integer>
							</dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								ToDh+yiWEz9O
								GVfOJy513g==
								</data>
								<key>Size</key>
								<integer>6</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								X6aOtNfnrhKB
								LIVh3MTxxg==
								</data>
								<key>Size</key>
								<integer>219</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
