<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>author/copyright info</key>
    <string>Futural UG (haftungsbeschraenkt)</string>
    <key>CFBundleIdentifier</key>
    <string>com.instacks.blankstrap5.div</string>
    <key>CFBundleVersion</key>
    <string>5.0.3</string>
    <key>CFBundleShortVersionString</key>
    <string>5.0.3</string>
    <key>author</key>
    <string>inStacks Software</string>
    <key>group</key>
    <string>Blankstrap 5</string>
    <key>RWAddonAuthor</key>
    <string>inStacks Software</string>
    <key>RWAddonManagerIconAsset</key>
    <string>icon</string>
    <key>RWAddonSupportURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>helpURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>infoURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>icon</key>
    <string>icon</string>
    <key>minAPIVersion</key>
    <integer>11</integer>
    <key>preprocessor</key>
    <true/>
    <key>inheritsFrom</key>
    <string>com.instacks.blankstrap5.element</string>
    <key>inline</key>
    <true/>
    <key>title</key>
    <string>Div</string>
    <key>subtitle</key>
    <string>Div</string>
    <key>customItems</key>
    <array>
        <dict>
            <key>id</key>
            <string>tag</string>
            <key>type</key>
            <string>select</string>
            <key>default</key>
            <string>div</string>
            <key>title</key>
            <string>Tag</string>
            <key>toolTip</key>
            <string>Tag</string>
            <key>items</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>address</string>
                    <key>value</key>
                    <string>address</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>article</string>
                    <key>value</key>
                    <string>article</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>aside</string>
                    <key>value</key>
                    <string>aside</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>div</string>
                    <key>value</key>
                    <string>div</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>footer</string>
                    <key>value</key>
                    <string>footer</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>header</string>
                    <key>value</key>
                    <string>header</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>main</string>
                    <key>value</key>
                    <string>main</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>section</string>
                    <key>value</key>
                    <string>section</string>
                </dict>
            </array>
        </dict>
    </array>
    <key>assets</key>
    <array>
    </array>
    <key>libraries</key>
    <array>
    </array>
    <key>tags</key>
    <array>
        <string>Blankstrap 5</string>
        <string>Bootstrap</string>
        <string>B5 Div</string>
    </array>
    <key>templates</key>
    <array>
        <dict>
            <key>type</key>
            <string>html</string>
            <key>filename</key>
            <string>each.html</string>
        </dict>
        <dict>
            <key>type</key>
            <string>css</string>
            <key>filename</key>
            <string>each.css</string>
        </dict>
        <dict>
            <key>type</key>
            <string>js</string>
            <key>filename</key>
            <string>each.js</string>
        </dict>
    </array>
</dict>
</plist>