
--- 
id:     nav_item
description: |
    This is the standard navigation item.
    This template will be included once for each each page in the site.
    You can use this nav item content in your own theme or
    override to create your own. It also demonstrages a few interesting
    techniques for displaying a variety of nav info. It displays a 
    different types of content depending on whether there are sub-pages
    that need to be displayed. It adds specific classes to the current item.
---

:( if @count(nav_page.children) < 1 ):
    <li class="nav-item"><a class="nav-link:( if nav_page.current ): current:( end ):" href=":( nav_page.link ):">:( nav_page.title ):</a></li>
:( else ):
    <li class="nav-item dropdown">
        <a class="nav-link :( current ):" id="nav-link" href="#" role="button">:( navpage.title ):</a>
        <ul class="nav-subitem">
            :( for child in nav_page.children ):
                <li><a class="nav-link" href=":( child.link ):">:( child.title ):</a></li>
            :( end ):
        </ul>
    </li>
:( end ):