<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>author/copyright info</key>
    <string>Blankstrap</string>
    <key>CFBundleIdentifier</key>
    <string>com.blankstrap.button</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>author</key>
    <string>Blankstrap</string>
    <key>group</key>
    <string>Blankstrap</string>
    <key>RWAddonAuthor</key>
    <string>Blankstrap</string>
    <key>RWAddonManagerIconAsset</key>
    <string>icon</string>
    <key>RWAddonSupportURL</key>
    <string>http://blankstrap.com</string>
    <key>helpURL</key>
    <string>http://blankstrap.com</string>
    <key>infoURL</key>
    <string>http://blankstrap.com</string>
    <key>icon</key>
    <string>icon</string>
    <key>minAPIVersion</key>
    <integer>10</integer>
    <key>preprocessor</key>
    <true/>
    <key>inheritsFrom</key>
    <string>com.blankstrap.base</string>
    <key>title</key>
    <string>Button</string>
    <key>subtitle</key>
    <string>Blankstrap Button</string>
    <key>customItems</key>
    <array>
        <dict>
            <key>id</key>
            <string>link</string>
            <key>type</key>
            <string>link</string>
            <key>default</key>
            <string></string>
            <key>title</key>
            <string>Link</string>
            <key>toolTip</key>
            <string>Link</string>
        </dict>
        <dict>
            <key>id</key>
            <string>color_css_class</string>
            <key>type</key>
            <string>select</string>
            <key>default</key>
            <string>primary</string>
            <key>title</key>
            <string>Color</string>
            <key>toolTip</key>
            <string>Color</string>
            <key>items</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>Primary</string>
                    <key>value</key>
                    <string>primary</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Secondary</string>
                    <key>value</key>
                    <string>secondary</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Success</string>
                    <key>value</key>
                    <string>success</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Danger</string>
                    <key>value</key>
                    <string>danger</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Warning</string>
                    <key>value</key>
                    <string>warning</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Info</string>
                    <key>value</key>
                    <string>info</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Light</string>
                    <key>value</key>
                    <string>light</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Dark</string>
                    <key>value</key>
                    <string>dark</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Link</string>
                    <key>value</key>
                    <string>link</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>id</key>
            <string>outline</string>
            <key>type</key>
            <string>checkbox</string>
            <key>default</key>
            <false/>
            <key>title</key>
            <string>Outline Button</string>
            <key>toolTip</key>
            <string>Outline Button</string>
        </dict>
    </array>
    <key>libraries</key>
    <array>
    </array>
    <key>tags</key>
    <array>
        <string>Blankstrap</string>
        <string>Content</string>
        <string>Button</string>
        <string>Link</string>
    </array>
    <key>templates</key>
    <array>
        <dict>
            <key>filename</key>
            <string>each.html</string>
            <key>type</key>
            <string>html</string>
        </dict>
        <dict>
            <key>filename</key>
            <string>each.css</string>
            <key>type</key>
            <string>css</string>
        </dict>
    </array>
</dict>
</plist>
