<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Blog</string>
				<key>CreatedDate</key>
				<date>2018-01-21T20:55:56Z</date>
				<key>ID</key>
				<string>page6</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>&lt;i class="fa fa-pencil fa-lg fa-fw"&gt;&lt;/i&gt; Blog</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/jannis/Library/Mobile%20Documents/com~apple~CloudDocs/Development/Github/Blankstrap/docs/</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-01-30T22:21:00Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/377c3582ecdae577aea4cf6a6d9b34cf-0.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ql0fzwTI0LK2
								YHdNo8isaA==
								</data>
								<key>Size</key>
								<integer>8498</integer>
							</dict>
							<key>files/3d232d8560d370d500eb9349ae5ffa65-4.html</key>
							<dict>
								<key>Digest</key>
								<data>
								9rnPhZGQtjn3
								lSIjpOnzKQ==
								</data>
								<key>Size</key>
								<integer>8498</integer>
							</dict>
							<key>files/4781b591426d49509ea7008a8cf544ff-2.html</key>
							<dict>
								<key>Digest</key>
								<data>
								DwwMUpwqsMd4
								iJpKyTMe7A==
								</data>
								<key>Size</key>
								<integer>8498</integer>
							</dict>
							<key>files/archive-january-2018.html</key>
							<dict>
								<key>Digest</key>
								<data>
								e3kzY7qKaV6r
								Am786D5gTQ==
								</data>
								<key>Size</key>
								<integer>10206</integer>
							</dict>
							<key>files/b1477ab9e55d42c222b25a71e7f09805-1.html</key>
							<dict>
								<key>Digest</key>
								<data>
								cjCDBiF/ksyf
								VdfIxfwbog==
								</data>
								<key>Size</key>
								<integer>8498</integer>
							</dict>
							<key>files/f6d48eec25ccd35fbc06c4174cb044b8-3.html</key>
							<dict>
								<key>Digest</key>
								<data>
								OjBC3MFRDPU1
								SfGdsla83g==
								</data>
								<key>Size</key>
								<integer>8498</integer>
							</dict>
							<key>files/feed.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								pCYi4o5KfAxf
								Li9xZI+Vgw==
								</data>
								<key>Size</key>
								<integer>6414</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								AtaC/vvDSMrf
								mIiClDv9lg==
								</data>
								<key>Size</key>
								<integer>2556</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								5BsTqIRHj2jD
								b5yerOIUiA==
								</data>
								<key>Size</key>
								<integer>9926</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page6</string>
						<key>SiteRoot</key>
						<string>rwexamples/blog</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
