<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>HomePage</key>
				<string>1-003Ci-class003D0022fa-fa-home-fa-lg-fa-fw0022003E003C002Fi003E-Home</string>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>1-003Ci-class003D0022fa-fa-home-fa-lg-fa-fw0022003E003C002Fi003E-Home</string>
				<string>2-RW-Examples</string>
				<string>3-Code-Examples</string>
				<string>4-003Ci-class003D0022fa-fa-github-fa-lg-fa-fw0022003E003C002Fi003E-GitHub</string>
				<string>5-Impressum</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Pages</string>
</dict>
</plist>
