<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RWTemplateHTML</key>
	<string>index.html</string>
	<key>RWColourTagCSSFiles</key>
	<array>
		<string>colourtag.css</string>
	</array>
	<key>RWCopyFiles</key>
	<array>
		<string>colourtag.css</string>
	</array>
	<key>RWTextToolbar</key>
	<dict>
		<key>RWAlwaysDisplayFullNavigation</key>
		<true/>
		<key>RWAlwaysDisplayFullSubNavigation</key>
		<true/>
		<key>RWBreadCrumb</key>
		<string>&lt;ul class="breadcrumb"&gt;%items%&lt;/ul&gt;</string>
		<key>RWBreadCrumbItem</key>
		<string>&lt;li&gt;&lt;a href="%url%"&gt;%title%&lt;/a&gt;%separator%&lt;/li&gt;</string>
		<key>RWBreadCrumbSeparator</key>
		<string>&amp;nbsp;&gt;&amp;nbsp;</string>
		<key>RWSupportedLevels</key>
		<integer>3</integer>
		<key>RWToolbarItemNormal</key>
		<string>&lt;li class="nav-item"&gt;&lt;a href="%url%" rel="%rel%" class="nav-link normal"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemCurrent</key>
		<string>&lt;li class="nav-item"&gt;&lt;a href="%url%" rel="%rel%" class="nav-link current active"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemCurrentParent</key>
		<string>&lt;li class="nav-item dropdown"&gt;&lt;a href="%url%" rel="%rel%" class="nav-link current parent currentParent active"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemCurrentAncestor</key>
		<string>&lt;li class="nav-item"&gt;&lt;a href="%url%" rel="%rel%" class="nav-link currentAncestor active"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemCurrentAncestorParent</key>
		<string>&lt;li class="nav-item dropdown"&gt;&lt;a href="%url%" rel="%rel%" class="nav-link current parent currentAncestorParent active"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemNormalParent</key>
		<string>&lt;li class="nav-item dropdown"&gt;&lt;a href="%url%" rel="%rel%" class="nav-link normal parent normalParent"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarList</key>
		<string>&lt;ul class="navbar-nav"&gt;%items%&lt;/ul&gt;</string>
	</dict>
	<key>RWThemeAuthor</key>
	<string>inStacks Software</string>
	<key>RWAddonAuthor</key>
	<string>inStacks Software</string>
	<key>RWThemeCapabilities</key>
	<dict>
		<key>RWSupportsContentOnlySubPages</key>
		<true/>
		<key>RWSupportsDisplayNames</key>
		<true/>
		<key>RWSupportsPathTo</key>
		<true/>
		<key>RWSupportsToolbarRelTag</key>
		<true/>
	</dict>
	<key>RWThemeDisplayName</key>
	<dict>
		<key>en</key>
		<string>Blankstrap 5</string>
	</dict>
	<key>RWThemeImage</key>
	<string>icon@2x.png</string>
	<key>RWThemeImageLarge</key>
	<string>icon@2x.png</string>
	<key>RWThemeKeyWords</key>
	<array>
		<string>Blankstrap</string>
		<string>Bootstrap</string>
	</array>
	<key>RWThemeName</key>
	<string>Blankstrap 5</string>
	<key>RWThemeShortName</key>
	<string>blankstrap5</string>
	<key>RWAddonSupportURL</key>
	<string>https://github.com/instacks/blankstrap</string>
	<key>RWVersion</key>
	<integer>1</integer>
</dict>
</plist>
