<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Blog</string>
				<key>CreatedDate</key>
				<date>2018-01-21T20:55:56Z</date>
				<key>ID</key>
				<string>page6</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>&lt;i class="fa fa-pencil fa-lg fa-fw"&gt;&lt;/i&gt; Blog</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/d459/Library/Mobile%20Documents/com~apple~CloudDocs/Development/Blankstrap/docs/</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-04-24T06:57:25Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/377c3582ecdae577aea4cf6a6d9b34cf-0.html</key>
							<dict>
								<key>Digest</key>
								<data>
								PxQHmdKTakHN
								cZ6QICrP0A==
								</data>
								<key>Size</key>
								<integer>8336</integer>
							</dict>
							<key>files/3d232d8560d370d500eb9349ae5ffa65-4.html</key>
							<dict>
								<key>Digest</key>
								<data>
								k5vikVhTTNDL
								lbQM3mVwdA==
								</data>
								<key>Size</key>
								<integer>8336</integer>
							</dict>
							<key>files/4781b591426d49509ea7008a8cf544ff-2.html</key>
							<dict>
								<key>Digest</key>
								<data>
								i7uoSx2UN1Ck
								QckdfixSxw==
								</data>
								<key>Size</key>
								<integer>8336</integer>
							</dict>
							<key>files/archive-january-2018.html</key>
							<dict>
								<key>Digest</key>
								<data>
								MuNzOLNjHMxO
								PCOvKJQASw==
								</data>
								<key>Size</key>
								<integer>10044</integer>
							</dict>
							<key>files/b1477ab9e55d42c222b25a71e7f09805-1.html</key>
							<dict>
								<key>Digest</key>
								<data>
								WmrFu33h0jlm
								wCzz5e1WVg==
								</data>
								<key>Size</key>
								<integer>8336</integer>
							</dict>
							<key>files/f6d48eec25ccd35fbc06c4174cb044b8-3.html</key>
							<dict>
								<key>Digest</key>
								<data>
								DEQQ7hNRBuQn
								zEy3z6X90Q==
								</data>
								<key>Size</key>
								<integer>8336</integer>
							</dict>
							<key>files/feed.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								cDzD0a2Z7MWF
								N5TfCM8vUg==
								</data>
								<key>Size</key>
								<integer>6238</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								AtaC/vvDSMrf
								mIiClDv9lg==
								</data>
								<key>Size</key>
								<integer>2556</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								bCiBifnw6SBe
								2A5budKGyw==
								</data>
								<key>Size</key>
								<integer>9764</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page6</string>
						<key>SiteRoot</key>
						<string>rwexamples/blog</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
