<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>author/copyright info</key>
    <string>Futural UG (haftungsbeschraenkt)</string>
    <key>CFBundleIdentifier</key>
    <string>com.instacks.blankstrap5.container</string>
    <key>CFBundleVersion</key>
    <string>5.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>5.0.0</string>
    <key>author</key>
    <string>inStacks Software</string>
    <key>group</key>
    <string>Blankstrap 5</string>
    <key>RWAddonAuthor</key>
    <string>inStacks Software</string>
    <key>RWAddonManagerIconAsset</key>
    <string>icon</string>
    <key>RWAddonSupportURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>helpURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>infoURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>icon</key>
    <string>icon</string>
    <key>minAPIVersion</key>
    <integer>11</integer>
    <key>preprocessor</key>
    <true/>
    <key>inheritsFrom</key>
    <string>com.instacks.blankstrap5.element</string>
    <key>inline</key>
    <true/>
    <key>title</key>
    <string>Container</string>
    <key>subtitle</key>
    <string>Container</string>
    <key>customItems</key>
    <array>
        <dict>
            <key>group</key>
            <string>Container</string>
            <key>id</key>
            <string>container</string>
            <key>type</key>
            <string>select</string>
            <key>default</key>
            <string>container</string>
            <key>title</key>
            <string>Width</string>
            <key>toolTip</key>
            <string>Width</string>
            <key>items</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>Container</string>
                    <key>value</key>
                    <string>container</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Container Small</string>
                    <key>value</key>
                    <string>container-sm</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Container Medium</string>
                    <key>value</key>
                    <string>container-md</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Container Large</string>
                    <key>value</key>
                    <string>container-lg</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Container Extra Large</string>
                    <key>value</key>
                    <string>container-xl</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Container Extra Extra Large</string>
                    <key>value</key>
                    <string>container-xxl</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Container Fluid</string>
                    <key>value</key>
                    <string>container-fluid</string>
                </dict>
            </array>
        </dict>
    </array>
    <key>assets</key>
    <array>
    </array>
    <key>libraries</key>
    <array>
    </array>
    <key>tags</key>
    <array>
        <string>Blankstrap 5</string>
        <string>Bootstrap</string>
        <string>B5 Container</string>
    </array>
    <key>templates</key>
    <array>
        <dict>
            <key>type</key>
            <string>html</string>
            <key>filename</key>
            <string>each.html</string>
        </dict>
        <dict>
            <key>type</key>
            <string>css</string>
            <key>filename</key>
            <string>each.css</string>
        </dict>
        <dict>
            <key>type</key>
            <string>js</string>
            <key>filename</key>
            <string>each.js</string>
        </dict>
    </array>
</dict>
</plist>