<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict/>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>1-Sub-1</string>
				<string>2-Sub-2</string>
				<string>3-Sub-3</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Pages</string>
</dict>
</plist>
