<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>author/copyright info</key>
    <string>Futural UG (haftungsbeschraenkt)</string>
    <key>CFBundleIdentifier</key>
    <string>com.instacks.blankstrap5.element</string>
    <key>CFBundleVersion</key>
    <string>5.3.0</string>
    <key>CFBundleShortVersionString</key>
    <string>5.3.0</string>
    <key>author</key>
    <string>inStacks Software</string>
    <key>group</key>
    <string>Blankstrap 5</string>
    <key>RWAddonAuthor</key>
    <string>inStacks Software</string>
    <key>RWAddonManagerIconAsset</key>
    <string>icon</string>
    <key>RWAddonSupportURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>helpURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>infoURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>icon</key>
    <string>icon</string>
    <key>minAPIVersion</key>
    <integer>11</integer>
    <key>preprocessor</key>
    <true/>
    <key>inline</key>
    <true/>
    <key>hidden</key>
    <true/>
    <key>title</key>
    <string>Element</string>
    <key>subtitle</key>
    <string>Element</string>
    <key>customItems</key>
    <array>
        <dict>
            <key>group</key>
            <string>Element</string>
            <key>id</key>
            <string>uid</string>
            <key>type</key>
            <string>input</string>
            <key>default</key>
            <string></string>
            <key>title</key>
            <string>Unique ID</string>
            <key>toolTip</key>
            <string>Identifier (ID) which must be unique in the whole document.</string>
        </dict>
        <dict>
            <key>group</key>
            <string>Element</string>
            <key>id</key>
            <string>css</string>
            <key>type</key>
            <string>multi-2</string>
            <key>default</key>
            <string></string>
            <key>title</key>
            <string>CSS Classes</string>
            <key>toolTip</key>
            <string>Extra CSS classes to add to the stack's div in HTML.</string>
            <key>subtitles</key>
            <array>
                <string>Extra CSS classes for the stack.</string>
            </array>
        </dict>
        <dict>
            <key>group</key>
            <string>Element</string>
            <key>id</key>
            <string>attributes</string>
            <key>type</key>
            <string>multi-2</string>
            <key>default</key>
            <string></string>
            <key>title</key>
            <string>Attributes</string>
            <key>toolTip</key>
            <string>Additional attributes to add to the stack's div in HTML.</string>
            <key>subtitles</key>
            <array>
                <string>Additional attributes for the stack.</string>
            </array>
        </dict>
    </array>
    <key>assets</key>
    <array>
    </array>
    <key>libraries</key>
    <array>
    </array>
    <key>tags</key>
    <array>
        <string>Blankstrap 5</string>
        <string>Bootstrap</string>
        <string>B5 Div</string>
    </array>
    <key>templates</key>
    <array>
        <dict>
            <key>type</key>
            <string>html</string>
            <key>filename</key>
            <string>each.html</string>
        </dict>
    </array>
</dict>
</plist>