<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict/>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>03AE0E2D-F7F4-4E65-B9F9-393F2F130976</string>
				<string>117803E6-6CC0-4C32-8B7F-77F510598A61</string>
				<string>D4F6CAD9-4600-40A1-AF2D-85FAA7FE0FC1</string>
				<string>EA44038D-13F5-48F2-A0F2-F4F559615523</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Resources</string>
</dict>
</plist>
