%%[[if !publish]]%%
.blankstrap5-core-missing-warning {
    color: red;
    text-align: center;
    font-weight: bold;
}
%%[[endif]]%%
#%[if %("%id=uid%" != "")%]%%id=uid%-%[endif]%navbar img {
    height: auto;
    width: auto;
    max-height: 32px;
    /*vertical-align: top !important;*/
    display: inline-block !important;
    margin-right: 1rem;
}
%[if %( "%id=fixed%" == "fixed-headroom" )% ]%
.headroom {
    transition: transform .25s ease-in-out;
    will-change: transform;
}
.headroom--pinned {
    transform: translateY(0);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
%[endif]%