%%[[if !publish]]%%
.blankstrap5-core-missing-warning {
    color: red;
    text-align: center;
    font-weight: bold;
}
%%[[endif]]%%
#%[if %("%id=uid%" != "")%]%%id=uid%%[else]%%id%%[endif]% img {
    height: auto;
    width: auto;
    max-height: 32px;
    vertical-align: top;
    margin-right: 0.5rem;
}