<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Photos</string>
				<key>CreatedDate</key>
				<date>2018-01-21T21:13:36Z</date>
				<key>ID</key>
				<string>page4</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>&lt;i class="fa fa-picture-o fa-lg fa-fw"&gt;&lt;/i&gt; Photo Album</string>
				<key>PluginClassName</key>
				<string>RWPhotoPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Photo Album</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/jannis/Library/Mobile%20Documents/com~apple~CloudDocs/Development/Github/Blankstrap/docs/</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-01-21T23:06:28Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/page4-1000-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								tZNPTNrRQnd5
								m1zqsMCW7w==
								</data>
								<key>Size</key>
								<integer>1579</integer>
							</dict>
							<key>files/page4-1000-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iGAm0VF7vc9Q
								OK0XGYwr6A==
								</data>
								<key>Size</key>
								<integer>196309</integer>
							</dict>
							<key>files/page4-1000-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/x6z8ZnExOUg
								4CVm5taUBA==
								</data>
								<key>Size</key>
								<integer>61574</integer>
							</dict>
							<key>files/page4-1001-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								XheFWiAtvD7D
								NeycJaDWKQ==
								</data>
								<key>Size</key>
								<integer>1617</integer>
							</dict>
							<key>files/page4-1001-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/jE1FMU3h6F3
								Td2CDdLYjQ==
								</data>
								<key>Size</key>
								<integer>161278</integer>
							</dict>
							<key>files/page4-1001-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								baFLEllFEZW2
								fvvfJCI24Q==
								</data>
								<key>Size</key>
								<integer>68663</integer>
							</dict>
							<key>files/page4-1002-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ZLGkEAlrhoCa
								PHxnvmPK6A==
								</data>
								<key>Size</key>
								<integer>1619</integer>
							</dict>
							<key>files/page4-1002-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vgOjS/lmIl3a
								R3NoO9kBrg==
								</data>
								<key>Size</key>
								<integer>288958</integer>
							</dict>
							<key>files/page4-1002-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IBxOLCpnpnhk
								obY6ly5NnA==
								</data>
								<key>Size</key>
								<integer>83075</integer>
							</dict>
							<key>files/page4-1003-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								0P6ra2gbCID1
								WltOz8zW1g==
								</data>
								<key>Size</key>
								<integer>1619</integer>
							</dict>
							<key>files/page4-1003-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZlCvcgb7Te3H
								/PbrEd9I8g==
								</data>
								<key>Size</key>
								<integer>171046</integer>
							</dict>
							<key>files/page4-1003-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qgubgPRYJTHC
								zkPgXMuxsg==
								</data>
								<key>Size</key>
								<integer>75700</integer>
							</dict>
							<key>files/page4-1004-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ksHEckrlirh6
								cAvCM5LzGQ==
								</data>
								<key>Size</key>
								<integer>1619</integer>
							</dict>
							<key>files/page4-1004-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wZyb70xyQoTW
								rDEJg2T5RA==
								</data>
								<key>Size</key>
								<integer>285727</integer>
							</dict>
							<key>files/page4-1004-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ENZw+264Hbd3
								+Pj/UtqKYA==
								</data>
								<key>Size</key>
								<integer>79975</integer>
							</dict>
							<key>files/page4-1005-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Kn8EVhAApSUN
								OzgikqFD9g==
								</data>
								<key>Size</key>
								<integer>1627</integer>
							</dict>
							<key>files/page4-1005-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								+eMiDMXvPE2h
								XfegdcNuJw==
								</data>
								<key>Size</key>
								<integer>47995</integer>
							</dict>
							<key>files/page4-1005-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kebT6AyGKJRX
								5iiHfYwp7g==
								</data>
								<key>Size</key>
								<integer>31243</integer>
							</dict>
							<key>files/page4-1006-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ZRNXSIMWgTdc
								FkN1CvAM5w==
								</data>
								<key>Size</key>
								<integer>1623</integer>
							</dict>
							<key>files/page4-1006-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vMl3G//gRuyp
								Xa4QpMBTRQ==
								</data>
								<key>Size</key>
								<integer>206750</integer>
							</dict>
							<key>files/page4-1006-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RfOjctbgcN9u
								TBMtsM1rzA==
								</data>
								<key>Size</key>
								<integer>56136</integer>
							</dict>
							<key>files/page4-1007-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								BqXy1qYB9rly
								+qvTvyZOxw==
								</data>
								<key>Size</key>
								<integer>1631</integer>
							</dict>
							<key>files/page4-1007-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2bMC2FLI6Mjz
								2Cqc/jzm8w==
								</data>
								<key>Size</key>
								<integer>203997</integer>
							</dict>
							<key>files/page4-1007-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								K6hFF6ZBtRYl
								+InKjgjG3w==
								</data>
								<key>Size</key>
								<integer>79775</integer>
							</dict>
							<key>files/page4-1008-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								GMqRNHu1+hqL
								CE5Or/bYgA==
								</data>
								<key>Size</key>
								<integer>1631</integer>
							</dict>
							<key>files/page4-1008-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zaC7Lk0kbz0J
								iaepYCYz1Q==
								</data>
								<key>Size</key>
								<integer>139397</integer>
							</dict>
							<key>files/page4-1008-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								R20HjOhqvfVd
								F6voww0bzA==
								</data>
								<key>Size</key>
								<integer>60349</integer>
							</dict>
							<key>files/page4-1009-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								7IjB65jWS+cH
								CGzuENntwg==
								</data>
								<key>Size</key>
								<integer>1623</integer>
							</dict>
							<key>files/page4-1009-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bC2bcW/HEhqW
								0Q98lYcLkg==
								</data>
								<key>Size</key>
								<integer>376308</integer>
							</dict>
							<key>files/page4-1009-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								OeXNZENwKlxx
								EcCgaFKgDg==
								</data>
								<key>Size</key>
								<integer>85154</integer>
							</dict>
							<key>files/page4-1010-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								QMNO0Pjkhaum
								8Ku+aLynvg==
								</data>
								<key>Size</key>
								<integer>1621</integer>
							</dict>
							<key>files/page4-1010-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Jxh8mRRRWc9P
								LGSu5CYbJw==
								</data>
								<key>Size</key>
								<integer>311897</integer>
							</dict>
							<key>files/page4-1010-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RRP888Lf6fOq
								2sJGbFlkpg==
								</data>
								<key>Size</key>
								<integer>80907</integer>
							</dict>
							<key>files/page4-1011-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								giBpUunl2QLG
								jIU7HLZONQ==
								</data>
								<key>Size</key>
								<integer>1587</integer>
							</dict>
							<key>files/page4-1011-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								K8wTb5fKEpek
								APvaBPl/Xw==
								</data>
								<key>Size</key>
								<integer>166650</integer>
							</dict>
							<key>files/page4-1011-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UNxp0k/mbp6v
								WcbffQ2+bQ==
								</data>
								<key>Size</key>
								<integer>71839</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								eR1kujRuA/4R
								ksO9KCvbbw==
								</data>
								<key>Size</key>
								<integer>9035</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page4</string>
						<key>SiteRoot</key>
						<string>rwexamples/photos</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
