<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>author/copyright info</key>
    <string>Futural UG (haftungsbeschraenkt)</string>
    <key>CFBundleIdentifier</key>
    <string>com.instacks.blankstrap5.label</string>
    <key>CFBundleVersion</key>
    <string>5.3.7</string>
    <key>CFBundleShortVersionString</key>
    <string>5.3.7</string>
    <key>author</key>
    <string>inStacks Software</string>
    <key>group</key>
    <string>inStacks Software</string>
    <key>RWAddonAuthor</key>
    <string>inStacks Software</string>
    <key>RWAddonManagerIconAsset</key>
    <string>icon</string>
    <key>RWAddonSupportURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>helpURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>infoURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>icon</key>
    <string>icon</string>
    <key>minAPIVersion</key>
    <integer>11</integer>
    <key>preprocessor</key>
    <true/>
    <key>inheritsFrom</key>
    <string>com.instacks.blankstrap5.element</string>
    <key>title</key>
    <string>Label</string>
    <key>subtitle</key>
    <string>Label</string>
    <key>inline</key>
    <true/>
    <key>childOf</key>
    <array>
        <string>com.instacks.blankstrap5.form</string>
    </array>
    <key>assets</key>
    <array/>
    <key>customItems</key>
    <array>
        <dict>
            <key>id</key>
            <string>label</string>
            <key>type</key>
            <string>input</string>
            <key>default</key>
            <string></string>
            <key>title</key>
            <string>Label</string>
            <key>toolTip</key>
            <string>Label</string>
        </dict>
    </array>
    <key>templates</key>
    <array>
        <dict>
            <key>type</key>
            <string>html</string>
            <key>filename</key>
            <string>each.html</string>
        </dict>
        <dict>
            <key>type</key>
            <string>css</string>
            <key>filename</key>
            <string>each.css</string>
        </dict>
        <dict>
            <key>type</key>
            <string>js</string>
            <key>filename</key>
            <string>each.js</string>
        </dict>
    </array>
    <key>tags</key>
    <array>
        <string>Blankstrap 5</string>
        <string>Bootstrap</string>
        <string>B5 Label</string>
        <string>Input</string>
        <string>Form</string>
    </array>
</dict>
</plist>
