<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>author/copyright info</key>
    <string>Blankstrap</string>
    <key>CFBundleIdentifier</key>
    <string>com.blankstrap.container</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>author</key>
    <string>Blankstrap</string>
    <key>group</key>
    <string>Blankstrap</string>
    <key>RWAddonAuthor</key>
    <string>Blankstrap</string>
    <key>RWAddonManagerIconAsset</key>
    <string>icon</string>
    <key>RWAddonSupportURL</key>
    <string>http://blankstrap.com</string>
    <key>helpURL</key>
    <string>http://blankstrap.com</string>
    <key>infoURL</key>
    <string>http://blankstrap.com</string>
    <key>icon</key>
    <string>icon</string>
    <key>minAPIVersion</key>
    <integer>10</integer>
    <key>preprocessor</key>
    <true/>
    <key>inheritsFrom</key>
    <string>com.blankstrap.base</string>
    <key>title</key>
    <string>Container</string>
    <key>subtitle</key>
    <string>Blankstrap Container</string>
    <key>customItems</key>
    <array>
    </array>
    <key>libraries</key>
    <array>
    </array>
    <key>tags</key>
    <array>
        <string>Blankstrap</string>
        <string>Content</string>
        <string>Container</string>
    </array>
    <key>templates</key>
    <array>
        <dict>
            <key>filename</key>
            <string>each.html</string>
            <key>type</key>
            <string>html</string>
        </dict>
        <dict>
            <key>filename</key>
            <string>each.css</string>
            <key>type</key>
            <string>css</string>
        </dict>
    </array>
</dict>
</plist>
