<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>author/copyright info</key>
    <string>Futural UG (haftungsbeschraenkt)</string>
    <key>CFBundleIdentifier</key>
    <string>com.instacks.blankstrap5.slide</string>
    <key>CFBundleVersion</key>
    <string>5.0.4</string>
    <key>CFBundleShortVersionString</key>
    <string>5.0.4</string>
    <key>author</key>
    <string>inStacks Software</string>
    <key>group</key>
    <string>Blankstrap 5</string>
    <key>RWAddonAuthor</key>
    <string>inStacks Software</string>
    <key>RWAddonManagerIconAsset</key>
    <string>icon</string>
    <key>RWAddonSupportURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>helpURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>infoURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>icon</key>
    <string>icon</string>
    <key>minAPIVersion</key>
    <integer>11</integer>
    <key>preprocessor</key>
    <true/>
    <key>hidden</key>
    <true/>
    <key>childOf</key>
    <array>
        <string>com.instacks.blankstrap5.carousel</string>
    </array>
    <key>inheritsFrom</key>
    <string>com.instacks.blankstrap5.element</string>
    <key>inline</key>
    <true/>
    <key>title</key>
    <string>Slide</string>
    <key>subtitle</key>
    <string>Slide</string>
    <key>customItems</key>
    <array>
        <dict>
            <key>id</key>
            <string>image</string>
            <key>type</key>
            <string>image</string>
            <key>title</key>
            <string>Image</string>
        </dict>
        <dict>
            <key>id</key>
            <string>alt</string>
            <key>type</key>
            <string>input</string>
            <key>default</key>
            <string></string>
            <key>title</key>
            <string>Alt Text</string>
            <key>toolTip</key>
            <string>Alternative image text</string>
        </dict>
        <dict>
            <key>id</key>
            <string>caption</string>
            <key>type</key>
            <string>checkbox</string>
            <key>default</key>
            <false/>
            <key>title</key>
            <string>Slide Caption</string>
            <key>toolTip</key>
            <string>Slice caption</string>
        </dict>
    </array>
    <key>assets</key>
    <array>
    </array>
    <key>libraries</key>
    <array>
    </array>
    <key>tags</key>
    <array>
        <string>Blankstrap 5</string>
        <string>Bootstrap</string>
        <string>Grid</string>
        <string>Row</string>
        <string>B5 Column</string>
    </array>
    <key>templates</key>
    <array>
        <dict>
            <key>type</key>
            <string>html</string>
            <key>filename</key>
            <string>each.html</string>
        </dict>
        <dict>
            <key>type</key>
            <string>css</string>
            <key>filename</key>
            <string>each.css</string>
        </dict>
        <dict>
            <key>type</key>
            <string>js</string>
            <key>filename</key>
            <string>each.js</string>
        </dict>
        <dict>
            <key>type</key>
            <string>js</string>
            <key>filename</key>
            <string>page.js</string>
            <key>scope</key>
            <string>page</string>
        </dict>
    </array>
</dict>
</plist>