%%[[if !edit]]%%
/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
#%[if %("%id=uid%" != "")%]%%id=uid%%[else]%%id%%[endif]% .carousel-inner .carousel-item {
    height: %id=responsive_height_1[0]%rem;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #%[if %("%id=uid%" != "")%]%%id=uid%%[else]%%id%%[endif]% .carousel-inner .carousel-item {
        height: %id=responsive_height_1[1]%rem;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #%[if %("%id=uid%" != "")%]%%id=uid%%[else]%%id%%[endif]% .carousel-inner .carousel-item {
        height: %id=responsive_height_1[2]%rem;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #%[if %("%id=uid%" != "")%]%%id=uid%%[else]%%id%%[endif]% .carousel-inner .carousel-item {
        height: %id=responsive_height_2[0]%rem;
    }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #%[if %("%id=uid%" != "")%]%%id=uid%%[else]%%id%%[endif]% .carousel-inner .carousel-item {
        height: %id=responsive_height_2[1]%rem;
    }
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    #%[if %("%id=uid%" != "")%]%%id=uid%%[else]%%id%%[endif]% .carousel-inner .carousel-item {
        height: %id=responsive_height_2[2]%rem;
    }
}
%[if %id=center% ]%
#%[if %("%id=uid%" != "")%]%%id=uid%%[else]%%id%%[endif]% .carousel-inner .carousel-item {
    background-size: cover;
    background-position: center;
}
%[endif]%
%[if %id=parallax% ]%
@media (hover: hover) {
    #%[if %("%id=uid%" != "")%]%%id=uid%%[else]%%id%%[endif]% .carousel-inner .carousel-item {
        background-attachment: fixed;
    }
}
%[endif]%
%%[[endif]]%%