<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>File References</key>
				<dict>
					<key>App Scope</key>
					<false/>
					<key>File References</key>
					<array/>
				</dict>
				<key>Minimum Application Version</key>
				<string>7.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Users/d459/Sites/Blankstrap/</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-07-13T11:02:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								NXxqoaedRwfK
								JcBOPVrBOA==
								</data>
								<key>Size</key>
								<integer>11</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Y62YNbTi/lmO
								JKuynOwaag==
								</data>
								<key>Size</key>
								<integer>4322</integer>
							</dict>
							<key>rw_common/images/icon@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								iB1yoVXvB8ZF
								XEA2Mr1YHw==
								</data>
								<key>Size</key>
								<integer>14299</integer>
							</dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								/Avwgg+dPETD
								E+LjfVdY+A==
								</data>
								<key>Size</key>
								<integer>6</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								mNtNDMgyyiXS
								xAf9eW/SoQ==
								</data>
								<key>Size</key>
								<integer>150</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:stacks - file:///Users/d459/Sites/Blankstrap/</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-07-13T11:02:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>cloud.php</key>
							<dict>
								<key>Digest</key>
								<data>
								HooeGOe7KZ79
								r9MK1f85yQ==
								</data>
								<key>Size</key>
								<integer>9287</integer>
							</dict>
							<key>stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								/0a1hJaS6DeQ
								tOXvwd14ng==
								</data>
								<key>Size</key>
								<integer>1707</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:stacks</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/stacks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:Blankstrap - file:///Users/d459/Sites/Blankstrap/</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-07-13T11:02:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								9ksXnAzVSanc
								Nb+fUnDX4w==
								</data>
								<key>Size</key>
								<integer>215385</integer>
							</dict>
							<key>fonts/FontAwesome.otf</key>
							<dict>
								<key>Digest</key>
								<data>
								DScXzV2FPlx2
								XKAy39QaTQ==
								</data>
								<key>Size</key>
								<integer>134808</integer>
							</dict>
							<key>fonts/fontawesome-webfont.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								Z09Q0oeoxI3B
								m6QE0g/nEw==
								</data>
								<key>Size</key>
								<integer>165742</integer>
							</dict>
							<key>fonts/fontawesome-webfont.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								kS7GbXVy/4IX
								STGTlkcL3g==
								</data>
								<key>Size</key>
								<integer>444379</integer>
							</dict>
							<key>fonts/fontawesome-webfont.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								sGhx8oH+5rJB
								1gWCrpNpuQ==
								</data>
								<key>Size</key>
								<integer>165548</integer>
							</dict>
							<key>fonts/fontawesome-webfont.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								/uZucSqKCO71
								gFpGiSkyrQ==
								</data>
								<key>Size</key>
								<integer>98024</integer>
							</dict>
							<key>fonts/fontawesome-webfont.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								r3rlBanu1QP4
								uOaYIDaHPg==
								</data>
								<key>Size</key>
								<integer>77160</integer>
							</dict>
							<key>js/bootstrap.min.js</key>
							<dict>
								<key>Digest</key>
								<data>
								CCegvc2akXmQ
								7uRhp33TPg==
								</data>
								<key>Size</key>
								<integer>46653</integer>
							</dict>
							<key>js/content-background-color.js</key>
							<dict>
								<key>Digest</key>
								<data>
								ouKbSiFhMdbr
								6YcUZOF8IQ==
								</data>
								<key>Size</key>
								<integer>92</integer>
							</dict>
							<key>js/content-color.js</key>
							<dict>
								<key>Digest</key>
								<data>
								H0FJWnvlQf82
								WMO1UA0xGQ==
								</data>
								<key>Size</key>
								<integer>70</integer>
							</dict>
							<key>js/content-container-fluid.js</key>
							<dict>
								<key>Digest</key>
								<data>
								m19ICdsueovH
								yxfFjnL4aQ==
								</data>
								<key>Size</key>
								<integer>70</integer>
							</dict>
							<key>js/content-container.js</key>
							<dict>
								<key>Digest</key>
								<data>
								004dRTLk6Diw
								jBadxNd5iA==
								</data>
								<key>Size</key>
								<integer>64</integer>
							</dict>
							<key>js/empty.js</key>
							<dict>
								<key>Digest</key>
								<data>
								1B2M2Y8AsgTp
								gAmY7PhCfg==
								</data>
								<key>Size</key>
								<integer>0</integer>
							</dict>
							<key>js/javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								iTaGLk0NKrMX
								hSvOZBMTyw==
								</data>
								<key>Size</key>
								<integer>10724</integer>
							</dict>
							<key>js/jquery-3.1.1.slim.min.js</key>
							<dict>
								<key>Digest</key>
								<data>
								VQ3f6EoRT3mn
								Z8CH35fzvA==
								</data>
								<key>Size</key>
								<integer>69309</integer>
							</dict>
							<key>js/navbar-inverse_bg-inverse.js</key>
							<dict>
								<key>Digest</key>
								<data>
								3JUCMXBd/e5X
								a0zIM4vEkA==
								</data>
								<key>Size</key>
								<integer>76</integer>
							</dict>
							<key>js/navbar-inverse_bg-primary.js</key>
							<dict>
								<key>Digest</key>
								<data>
								SEHiBTtAEsSU
								RelD/liYKg==
								</data>
								<key>Size</key>
								<integer>76</integer>
							</dict>
							<key>js/navbar-light_bg-inverse.js</key>
							<dict>
								<key>Digest</key>
								<data>
								YyZwIeWbjyp2
								l1c7jHNTdg==
								</data>
								<key>Size</key>
								<integer>74</integer>
							</dict>
							<key>js/navbar-light_bg-primary.js</key>
							<dict>
								<key>Digest</key>
								<data>
								LA62FKh8G07Y
								DiwPsU1NyA==
								</data>
								<key>Size</key>
								<integer>74</integer>
							</dict>
							<key>js/navigation.js</key>
							<dict>
								<key>Digest</key>
								<data>
								EVcr4NhA75cR
								86wS7GurUQ==
								</data>
								<key>Size</key>
								<integer>60</integer>
							</dict>
							<key>js/tether.min.js</key>
							<dict>
								<key>Digest</key>
								<data>
								7N/T3EZM7aX0
								g7tclqbj0g==
								</data>
								<key>Size</key>
								<integer>24989</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:Blankstrap</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/Blankstrap</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGUlNYJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoK8QEQcIExQVHyIp
				LTE1OT1FSExQVSRudWxs0wkKCwwPEldOUy5rZXlzWk5T
				Lm9iamVjdHNWJGNsYXNzog0OgAKAA6IQEYAEgAyAEFhk
				YXRhYmFzZVRub2Rl1QsWFxgZGhscHR5eSWRlbnRpZmll
				ciBNYXBYUGFnZSBNYXBYTm9kZSBNYXBZUmVzb3VyY2Vz
				gAuAB4AKgAmABdIKCyAhoIAG0iMkJSZaJGNsYXNzbmFt
				ZVgkY2xhc3Nlc1xOU011dGFibGVTZXSjJScoVU5TU2V0
				WE5TT2JqZWN00wkKCyorLKCggAjSIyQuL18QE05TTXV0
				YWJsZURpY3Rpb25hcnmjLjAoXE5TRGljdGlvbmFyedMJ
				CgsyMyygoIAI0wkKCzY3LKCggAjSIyQ6O18QElJXUmVz
				b3VyY2VEYXRhYmFzZaI8KF8QElJXUmVzb3VyY2VEYXRh
				YmFzZdQLPj9AQUJDQ1hDaGlsZHJlblZQYXJlbnRfEBJS
				ZXByZXNlbnRlZCBPYmplY3SAD4ANgACAANIKC0ZHoIAO
				0iMkSUpeTlNNdXRhYmxlQXJyYXmjSUsoV05TQXJyYXnS
				IyRNTl8QEFJXU291cmNlTGlzdE5vZGWiTyhfEBBSV1Nv
				dXJjZUxpc3ROb2Rl0iMkMFGiMChfEA9OU0tleWVkQXJj
				aGl2ZXLRVFVUcm9vdIABAAgAEQAaACMALQAyADcASwBR
				AFgAYABrAHIAdQB3AHkAfAB+AIAAggCLAJAAmwCqALMA
				vADGAMgAygDMAM4A0ADVANYA2ADdAOgA8QD+AQIBCAER
				ARgBGQEaARwBIQE3ATsBSAFPAVABUQFTAVoBWwFcAV4B
				YwF4AXsBkAGZAaIBqQG+AcABwgHEAcYBywHMAc4B0wHi
				AeYB7gHzAgYCCQIcAiECJAI2AjkCPgAAAAAAAAIBAAAA
				AAAAAFYAAAAAAAAAAAAAAAAAAAJA
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BannerUsed</key>
					<false/>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2017</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.php</string>
						<string>index.html</string>
					</array>
					<key>EmailAddress</key>
					<string></string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoData</key>
					<data>
					iVBORw0KGgoAAAANSUhEUgAAAQAAAAEACAYA
					AABccqhmAAAEDWlDQ1BJQ0MgUHJvZmlsZQAA
					OI2NVV1oHFUUPrtzZyMkzlNsNIV0qD8NJQ2T
					VjShtLp/3d02bpZJNtoi6GT27s6Yyc44M7v9
					oU9FUHwx6psUxL+3gCAo9Q/bPrQvlQol2tQg
					KD60+INQ6Ium65k7M5lpurHeZe58853vnnvu
					uWfvBei5qliWkRQBFpquLRcy4nOHj4g9K5CE
					h6AXBqFXUR0rXalMAjZPC3e1W99Dwntf2dXd
					/p+tt0YdFSBxH2Kz5qgLiI8B8KdVy3YBevqR
					Hz/qWh72Yui3MUDEL3q44WPXw3M+fo1pZuQs
					4tOIBVVTaoiXEI/MxfhGDPsxsNZfoE1q66ro
					5aJim3XdoLFw72H+n23BaIXzbcOnz5mfPoTv
					YVz7KzUl5+FRxEuqkp9G/Ajia219thzg25ab
					kRE/BpDc3pqvphHvRFys2weqvp+krbWKIX7n
					hDbzLOItiM8358pTwdirqpPFnMF2xLc1WvLy
					OwTAibpbmvHHcvttU57y5+XqNZrLe3lE/Pq8
					eUj2fXKfOe3pfOjzhJYtB/yll5SDFcSDiH+h
					RkH25+L+sdxKEAMZahrlSX8ukqMOWy/jXW2m
					6M9LDBc31B9LFuv6gVKg/0Szi3KAr1kGq1GM
					jU/aLbnq6/lRxc4XfJ98hTargX++DbMJBSiY
					MIe9Ck1YAxFkKEAG3xbYaKmDDgYyFK0UGYpf
					oWYXG+fAPPI6tJnNwb7ClP7IyF+D+bjOtCpk
					hz6CFrIa/I6sFtNl8auFXGMTP34sNwI/Jhkg
					EtmDz14ySfaRcTIBInmKPE32kxyyE2Tv+thK
					bEVePDfW/byMM1Kmm0XdObS7oGD/MypMXFPX
					rCwOtoYjyyn7BV29/MZfsVzpLDdRtuIZnbpX
					zvlf+ev8MvYr/Gqk4H/kV/G3csdazLuyTMPs
					bFhzd1UabQbjFvDRmcWJxR3zcfHkVw9GfpbJ
					meev9F08WW8uDkaslwX6avlWGU6NRKz0g/SH
					tCy9J30o/ca9zX3Kfc19zn3BXQKRO8ud477h
					LnAfc1/G9mrzGlrfexZ5GLdn6ZZrrEohI2wV
					HhZywjbhUWEy8icMCGNCUdiBlq3r+xafL549
					HQ5jH+an+1y+LlYBifuxAvRN/lVVVOlwlCkd
					Vm9NOL5BE4wkQ2SMlDZU97hX86EilU/lUmkQ
					UztTE6mx1EEPh7OmdqBtAvv8HdWpbrJS6tJj
					3n0CWdM6busNzRV3S9KTYhqvNiqWmuroiKgY
					hshMjmhTh9ptWhsF7970j/SbMrsPE1suR5z7
					DMC+P/Hs+y7ijrQAlhyAgccjbhjPygfeBTjz
					hNqy28EdkUh8C+DU9+z2v/oyeH791OncxHOs
					5y2AtTc7nb/f73TWPkD/qwBnjX8BoJ98VVBg
					/m8AADOJSURBVHgB7X0JmB3VdeaR1HurF6m1
					tERLQitakRQGgwKxjUDBYGzHkNgZlvHM2B5j
					z0c8nx2PByeezzj2GJyJJ+NgJuTzwgCOxzGY
					DDY2hsEYg8FLsBosJBCitUtoVy/qlnqR5vz3
					3XPffdXvVdVbuvst535ddU+d5VbVf88591a9
					6qpJNPblIt7Flbxcwcsf8NLIixZFQBEYjcAp
					Zj3Ly9O8PMXLi7yMaZk0Rq0v4nZvscviMdqH
					NqsIlDsCb/AJPmCXrlI42Q18kD/k5ZwuioH6
					QEF9AHGF+CrKcgkfFaYsGviKgfrA2PoA4gzx
					VhRlOh/FP/BylhfteMVAfWB8fADxhrhD/OVV
					8rkHcAPv+V5e2vI6AjVWBBSBXBE4xoYf4eXh
					XBuYkoNhLdv8LS//nZeGHOzVRBFQBAqDAOLv
					fbzM4OWnvIzwklXJdgbQzq3jZgR+2tOiCCgC
					xYMAfjK8jpc3szmkbBLAEm74CV4WZrODfHXX
					rVuXbxMFte/s7Cxoe/k2pviEI1hh+OxkNP6Q
					lx3hqCSlcRMAovAnvMxKmo4Pde4c7isVT5k0
					KS5k43PMik84zhWIz2FG5GpeYo1UcbwZI/8v
					eBn34Od9UgV2IE47dlF8wqGqUHyQBC7jJXIm
					MDkcPsI1P6b9ExL8EcemYkVAEUiPAOIVcYv4
					DS1hCQB3+3HDb1yv+UOPVoWKgCIQFwHELeIX
					cZyxhCUA/Mynd/szQqcCRaDoEUD8Io4zlkz3
					AG5gi4cyWo2joEKv4WIjrPiEQ6X4GHz+mNdp
					HxZKlwDweOF2XtqM6QSvtAPDO0DxUXzCETBS
					PDG4jJfjQd10lwB3slJRBH/wYHVbEVAEckIA
					8Yy4HlWCMwD8l9ELvAT5owzHi6EjXDjSio/i
					E46Ak+KBGvw78a8ch4ngDOBLzCua4PcPVGlF
					QBHICwHENeI7pfgJANnhihSpbigCikA5IYD4
					Rpy74ieAv3BcJRQBRaBcEUiJc5nuL+KzxfvH
					iq7oNW54lyg+ik84AmmleE+necegzABuSaum
					TEVAEShHBFy8ywwA/zRQlG/v1REu3P8UH8Un
					HIG0Usz28U9+5leAi7guyuDHAWpRBBSBgiOA
					eEfcmwRwZcGb1wYVAUWg2BEwcY97ABuL/Uj1
					+BQBRaDgCJi4xz2APl6K9nNdeo0b3vGKj+IT
					jkBGKT5D1ooZQNEGf8ZDV4EioAjkiwDifhES
					gBZFQBGoTAQu0ARQmR2vZ60IAAFNAOoHikAF
					I7BAZwAV3Pt66hWPQLMmgIr3AQWgghFo0gRQ
					wb2vp17xCGgCqHgXUAAqGYFqnQFUcvfruVc8
					ApoAKt4FFIBKRkATQCX3vp57xSOgCaDiXUAB
					qGQEqqJOHt9X37x5c5TamMn1c9zh0Co+ik86
					BNavX0+dndFfCNcZQDr0lKcIVAgCkTOACsEh
					9mkuWrQotm4lKn7hC1+gOXPmUEdHB11wwQW0
					YMECKrZZSiX2S6Zz1gSQCZkM/J07d2aQKBsI
					fPazn00Bor6+nmbMmEELFy6klStX0po1a+jS
					Sy8lTFE1MaRANSEbmgAmBPbK2enAwADt3bvX
					LD//+c/diTc1NZkZwiWXXELXXHMNXXnllVRX
					V+fkSowPAngjEL4ZlrHoTcCM0KiggAg0NDTQ
					2rVr6V3vehfddNNNNH/+/IK0XmyzjPF6g1PM
					m4DP6E3AgriZNpIvAv39/fTCCy/QZz7zGXO5
					gGRw55130rFj+LK1lrFCQBPAWCGr7eaMwNmz
					Z+nll1+m22+/nebNm0fXXnstPfXUUzm3p4aZ
					EdAEkBkblRQBAriH8OMf/5iuuuoqWrVqFX3j
					G9+g8ZpGF8Hpj/khaAIYc4h1B4VCYOvWrfSh
					D32IlixZQl//+tc1ERQAWE0ABQBRmxhfBLq6
					uujDH/4wrV69Wi8N8oRefwa0AF7WPo30n6PD
					vQk/Fw2fJRo5d84s/SNnqZ8ZA1yfGhqi3jPD
					4Q0UWIoZwaZNm+i6664zM4JZs2YVeA/l35wm
					ANvH/3TpAppdX53YYic3H03DlqHtr6WgUTBv
					Elq2UUupUPsBTgb7Tw/R7r4heuPUaeo6NUiv
					952hN3jZ03+aegaGBKGC1bgf8IMf/IBWrFhB
					d911l7lEKFjjFdCQJgDpZAxvflCn0PZRicmc
					CM4yLQEuOlJLW6h9HmxQyty+fvJkWtJQa5Yr
					aWrinL31a5wInj3aR788doqXftpxspeGLTSe
					Wk7k8ePHzWXBo48+Sg8++CA1Nzfn1E6lGWkC
					cD2OUd4vgWek4KgSyIa2uqCNaUDfMD3vVnu6
					YGqtWT60oM1gdmJwhH54sJv+mZefH+mhE/2D
					fgfkRGM2gMeNH3roIbr44otzaqOSjDQB+L1t
					gpkDmaeV7gFJietJlvB1wAIf+r6e2sfCb1rN
					FLqFk8Et86ebCROSwX27j9PTh07mdT9hz549
					tHHjRrr33nv93lU6DQKaAAQUE7S8IXUyosFM
					5RsdG/jyJLXYSa32CdwEBx+XNPjhtsq757SY
					pYfvJXyt6wh9c+cx2tmNb1hmX/r6+uiWW27J
					3rDCLPRnQOlwjOyuSHAzQ6b9xpF52zkykoIY
					QF9o1GrvcMoBv+aqKXT70tn0+tUr6f5Ll9Dy
					aU0+uLFpPFGoJRwBTQAOHw5aE7hcIcjN1F6E
					EtDQQbG6oiMjmtonEmEB8btx3jTasmkF3ceJ
					oKOpIQG/rguGgCYAB2VwRJchXYKfFYUFB5dF
					kgGEIjeJQDbU3s0GBBLBDnVM/G7mRLB900r6
					9KoOatAHNpzX5ktoAnAISqBidGfHNM4KOrGZ
					mB0E+C7QrSM7hw7oSVvG8dGgbVftE4nUgB2N
					fw3/jPrFFXPol1eupnVt+jMfPCnfoglAEDTB
					azdSAjYQ3HLX3wUvHJft1F6QTCZPk/AKj99K
					/jnxV1dcQH+2fC5VSS5N7l2pLBDQBODAgifJ
					KCTMNN5lkgPLTcCL3NqqfWoiBB7BUiD8pnC7
					X1ndQd/5/WXULE9wBvel25EIaALwITIjlg1m
					GdXP8bbwU3jgs7GMco5W+0QiFWzGFr/3trfQ
					M5cvp7lT9Qah78pxaU0AKUgheLkgmE2x2/5I
					JjIzA4CSDXhfX3ScnbTDSiJTe4NYIfBb01xP
					z/7BMlrY0mjb1CouApoABCkEphnNLUNoF7BW
					jqAGz90L8OzEBk0IrfZAI4EZMBkj/BbU19Bz
					ly+l+c2aBAzeMVeaAFKAsiO1CVpv1A4+zAIb
					35mDI73aM0Djj9/s2hp6gp8XmNlQn9KrupEZ
					AU0Ago0bqZlwNAtBuwd+rLKRew6ObWfDhKPV
					frzxW9JYQz+8ZLHeGLSuGlVpAhiFkDcL8GLc
					qQWD28wEnJQJtTdoAKcJwu+i1gb66uoFfqco
					nQEBTQA+MHBaCXDw5VFyn+frG9rzcrUvGvxu
					7phOtyycPaq3lJGKgCYAhwcHckqgpwlsCXCp
					YetotS82/O5dPY+Wto5+MYnrciXci68qHork
					q6ZtIMvUPiUpWJhwTwDFyIQWRbVPJEWLh8CS
					QCyxHif8aqZMpq9xErA95B+B0hYBnQEEXUEC
					3/E99xFnFh1sCy36wW3f/dQ+gZJgNA74bZzR
					TO+eN0N6R+sAApoABBDjjLIhozhvw1lN4NpE
					IHqGl0bfsNQ+MQsoDvzuXjmPGqv13TfirX6t
					qPhoYLQ2oxOiGwEvUS78AM/Yso6MaDHsf3as
					h5482mvbRwOyD9B2P9hNcP9GL8P+oW5K4eyr
					+QWfNdxcHU+jW/gFHe21VTS7poYW889s06rx
					JL45SK6zO//k+Y6f/Zy6Grr+vDZ6YNehBEy6
					dghoAhAoEIcSyHj+3wWmT4syaglclhsV00BC
					IcT+iSO99OXX9vkNlRw9jZ+6O6+ullbzI7iX
					tjbSxhlNtLIRn/a2mIScf/Jkc8MvV/u/WNxO
					391zmAbdQ13JliqZirwE6Ozs5OdgJk3Ygptz
					+Sx33HFHzP5FFKOYaE6QbpSzfEkQjm91DT8b
					e9t8iVYnBgZpy4le+j+7D9N/emknXfjUy3T+
					01vo37+8m5453sdn5QW3O0fGp2D4BbCOgf8S
					TlAb26e7owkjPv/5z+flc2H+Ol6xhLiNUyIT
					QJxGykIHTiR+a2rrsIYvzgvH82hxPOjHti8L
					tEadxL7efrqfp9hXPreVLnjmFfrrLh5tR0Ys
					Lh5meePntZUl/rfMjZcAHn/88VHnV64MTQCu
					Z/3gZqYkASdnAiouSVjC6WVp77dbZvQb/Cbf
					27fsooU/e4X+ducRM5qaUywkfib4pT8s9i65
					+PwkuNe3t1IrX75ElZdeeomG+FNnlVA0Abhe
					5kiWEcVEOgtkW2pcPwptdNjxsG14UoszZrB3
					+yt/4tCpAfrzLTvp4udfpZd7TifesJwvfnnY
					V3Ofvb2tJRL4U6dO0XPPPRepVw4KmgBcL3Lg
					un/6QTBDgGBGQaDb2mzzygW+BHyW9tJOBdSd
					x3voD57fSvftP54823zxy9F+U1u8V4xrAkh2
					VWVQCHAzuoBAwJuIT9bIAIaXJhkYWVz7yoAz
					eJanhobpw5t30KdfO8A4QorEKQXYMj0O+G+K
					+TLRF198UQ6urGudAaR0L4Lbd0wIwYN3ci2P
					sIItvBRnzsIebVRYAVR/8/o+un37/vzxyxH/
					Rfzx0tmN0e8LeP311yuidzQBSDfDoUww29q/
					HDBJgBUhl8UfwQzP2kEB22H2ss8Krf96+z66
					Z+/R5Nlnix/088B/mXlmIbn7dNS+faX9rEa6
					c0rH0weBHCoy8mMUd0wmhM+kjDrCMv8uzMpm
					ZiDMKHu/7fzp7u7u/BtJ0wLugp85c4bwjb3D
					hw/Tm2++SW+88YZZtmzZQq+++iqdOHEijWU8
					1u3b9tCG5qm0vpkfIMoKP8ZXoM4J/0l0Pj/E
					9GzEYfb09BCwbWmJvmkY0VRRizUBSPdI0KOG
					g5ltG9wik1FdbFD7PLGTGo2kyMVz/Qbyo5ub
					x/4DGcuWLUt7kL/5zW/o4YcfNp/iRnLIpuCe
					wL97ZRd1/v6KZMIV3KROh5/0hewsBV9mQh5h
					j8eZ45Suri5av359HNWS1dFLAL/rxLmkhic5
					mhWFRu3T0sYoXgZ70S/x+uKLL6Y777yTduzY
					QU888QRt2LAhqzPacqKH/iF4KYAWBMcxwn9x
					fW2s48Ssp9yLJgC/h53jMRO0bEsNXaGlDuOJ
					jtTQLdOyadMmev7557M+u7t2cpAJPlKjFdCy
					LbXw/dqng3qyLbXVnTYl3sT32LFjsCjroglA
					ulecBLXQkMmvAj5f5FG8TPbgazEI7O49RT84
					wvcx0mEKjTHAv6kqntv39uK/Nsu7xEOivDFI
					nJ04oLmxxFN3eR8gnv7zeaCDC6aqTh/N+dsB
					e9lPYq+6ZgS+dYBH2rj4BbE3dj7egNTfDuDP
					+k2T8e/M0WVwcDBaqcQ1NAGkdCA7Dor5l1HP
					iXyeUeAVf6nWFfcvplnYO2MlfnGyx4KQBX55
					4F/v24bAXwn/D6AJQBzAjCw8WsgI7Z4LYKcU
					HgihR4SG01od878CtsFM9rI/rR0Cx/rP0Is9
					/YnEK/hmwk/kueLP9kOuE90hpCVq+AUo5V40
					AUgPy89JUoMP2hU/EXh846jsVWInNewy2rtG
					lbAI/LZvIJFcY+GXH/4D/F/KcUp9ffQTg3Ha
					KWYdTQDSOwhkFFSGRMAzIdN7kZvRHgqSEKwz
					ijyOPfajJQWBV5AAUOLgZ7DOHf++4eHEviLW
					mgAiACovMQIZTgUPlGKDe1Swsxx6IjZEFvbS
					vNYOgQOD+P/78cH/4Jl4/+vf2trqjq9ciXg/
					iJbr2aecFwe0jCyIZZcIrFOaqakkByjY4vSE
					wbIw+1H6YlfZdd+wfXsQwAvDz8AEBVtG4Rlt
					f3Aw3gygo6ND9lK2tSYA6Vrze7N1LONUxgut
					lGkT+x7POZ61kXZQh9r7ikoLAv0juAtrsQzF
					zybhnPE/R138TsM4Zd68eXHUSlpHE4B03ySZ
					ATDDjfY24N02lAM8sykzA9uY0w/oGjF4WoII
					VDnMWOLoTPgx3qKTA/7b++39huBBeNtTp06l
					trY2j1OepCYA6VfMAIxTMSMlnpnvRiSWGYfz
					eEYXTJFxHWZvFHUVRKCRvz8wLvhzV+0YOBPc
					/ajtSpj+46T1VwDpegQ5Ajc4tfSD38hFxwY9
					7I1tTHvoaxmFwFQkgHHA/xjfbNzLjx9HlcWL
					F0eplIVcZwCuGzGqY0NqEfjbNsh9HQQ/Zg4o
					seyNUkJf1w4B/I9+PPxg4vVJlvg/dbLXPXXs
					dp6GWLNmTRpu+bF0BiB9KnFpRnxmYtunjR4c
					zwa72AUvG3wbnxZ7cw0hxloLAqvq8WUhLj5m
					Pm2E+eP/2NF4L1B529veZvZY7itNANLDiGuT
					BOBkTJs4tzR04IxG7tHYFl429mhPSwoCb2lu
					tFiOLf5P8wwgqtTW1pImgCiUyk3uBzPOzfyX
					mT1JE+QmI1iGlxjAEVtJBuCF2kNBiyAwr7GB
					ltTxDCA2frnh/0x3Lx04xf9zEFFWrFhBlfAU
					IGDQGYA4A5wPMS7BLLTIUfsOKnLfLh0vk73P
					r3D6ra1NCWyzwS+dbjqeh+3fHzzibWUmr7nm
					mszCMpPoTUC/Q/0AF1pqyQ5u2zMUntQQCS11
					mL3XVCWSH22flThth1WW+Imd1GhNaFsf5ycN
					Hz/ifZgksce06/e///1p+eXI1BlASq/yECKO
					k7gJkJTKPwU5DoYbW3wbnxY56lH2vrA86IGB
					6Adsgme6uqWZLm3i639Txg7/L+85SL38ItKo
					gp//1q5dG6VWNnJNANKVCFz/rrO76ec5pdGB
					ntWVYHe/BFhGijxgL/sroxqvzrrrrrto4cKF
					WZ/V58+fy5deFqMxwr+bA/+bh+JN/2+++eas
					z6GUDfQSYFTvsTO6aQAc00V5goZYpvMgjRgr
					sZMawjT2YJdBOXLkCD322GP0yCOP0M9+9jPC
					e/SzLW+bMZ3ePY3/485gLLhJjdbS4Aexw5rJ
					GPjfvvsAHY/x9B/u/t96663YQcUUTQDS1XCk
					UXFsvMv6G9PifHBYM2p5tSQN8V9Tp7OXHRZv
					PTIyQvhCLj78gTfj7t27l/bs2WM+CrJt2zba
					vn077d69m+PWnl8OpzKdX81939Lz2ZKBMu34
					WCXYLvkKlqhFPyb+r/AXih88yG8ejlHe8Y53
					UHt7ewzN8lHRBCB96TsXeOZ/A1CzY5qHf+Cg
					cFYIuQSdf9Q0lnXRZiZ700j+q4aGhvwbsS2c
					PXuW8B481GNZahirby5dRPP8V25li18M/M9x
					Z/2bHTupfzj6fCZPnkyf+9znxvK0i7JtTQDS
					LQhsOJUkAkQ6/CY40kAPPJMJuHY391hgZCxK
					RH56e4gLWHK58VbA3WfdVDVj97XlS+i6afjk
					Vg74ZYH/X+7eTy+5F46GH+rb3/52WrduXbhS
					GUojEwBA2bx584Sd+iQTbOO0e9mXSQQS5N6+
					3UyAeXBErGBjRiOuYYISap9QqcR1Y1UVfXXJ
					QvrArBkWs1zwM8Ab6M0qA/4/PtlNX9m9LzbM
					P/3pT7krpQNjm2WtmM9lUzY7wyfNOjs7I00i
					E0BkC+WigNFeRnM4AuhgjXP1Hc4EPvPgk0KL
					TiZ7yCuwnMdP+31v2WJ6S9NUixVjLJhlg18M
					/LcNnKYPvN5FQ9J+BeId95Q1AfhIGedihh1k
					TO07nAwQbiYAJ2Z9sYPcOLNt1MkMkZwhWHEl
					VJjy3zx3Nn1lwXxqqrIf5MgXvxD7g2cG6R3b
					tse6618J+EedoyYAQUgCF6MGAlrm82YUsZHv
					aBvQzpa3wYJNpL0YlXeNB0yumNlGX+yYS/+K
					365jSkHwkyxr+wQNo13+O8j/6//2ra/R/hjP
					+ycOSNeaAII+ICO+SQJwLnY08TUT5LwyOjA0
					jMS2tBNpL4rlWbfU1tC106fRJ+bMpvWN8h9+
					9lwLgl96/PcMnqErOfh39kW/7KM8kc/trDQB
					+LiJg5qRHAIwOPoNH6SlZVsyg2ybGiux8Wlr
					z1W5lZn8AY3Lmpvo3a0t9L62aVQn396TEV/w
					KQR+aEvas/j/ureP3rt9Bx2K8a6/csM+3/PR
					BDAKQRnuIfBocWawQcOZg7RheDaZ7BOWJbfG
					mbVxsJ9XU02r+PmDt0xtpMt5WYeRPm3xsCgk
					fh7+Dxw5Sn/WtTPWc/5pD7HCmZoAfAcQxzIj
					DFbswPBhQ1pnFtroQIX5VtUlBiOzzID9ZY1T
					6YPnzfH3WjQ0DrWGH4ip4ZOu4w9oNk2popnV
					VTSLf76by0F/Ab+1p3ES38iTc8KRC21qPmfB
					Q0BxchBcDCxMG4x4W/SztB/i14h/lJ9GvO9A
					vKf8zL51NQoBTQACiXFIzzGNZ7NQHFVq6Kej
					Y9q/k782g6WkSx7nb847T3tM+f9t1y7azv+E
					pCU/BDQBCH7ilKjNaOTV0AEPRfT8EUv4QTvZ
					hlztgUJe+A3wqP+X+/bR3+8/QGfMJUWiSV3n
					joAmgHTY+UlA5MKTbVNzVEtC8Pmi68uE5+sh
					K/g6IhNdXyY80TF15dh/99hx+s/8T0n6E1+K
					A+S9oQnAhxBBJoEWpDGCB3miK21kkoteJrna
					JxBIg89v+0/Rx/k/EV84cVJQ0rqACGgC8MH0
					AxV8BL1fIJeSTjcdT/RRq30SjXRYebyDg4P0
					5zzd//7hwzk/0lvD/204yO1oyYyAvhFIsJH/
					GIUTSqCi9vlBXV/m02qfQCoH/E6PnOPr/P20
					6ncv03cPHco5+FtaWug73/mO9JjWGRDQGYAA
					437XF0aghjPLZQBEEuSiJrOFIF/kah+J331H
					j9J/3b+fDvRHv7pbYM1Uz549m5qbmzOJlW8R
					0AQgroC7yn7wpqPBwyLBDlvhgfaL2ifRECwE
					qwB+2/gJvlt2d1Fnd/avFUvuJJXCW4s2bdqU
					ytStUQjoJYCDxPNK32GdPECIM4PtmRottU+A
					JTgktlLXHn4rGurpzo559EczZ9FUfvBIy/gh
					oGg7rNkjxWER0EKj9rehLzLQKMFtX1/tY+F3
					1dRmwtIzvIC+dfwY/e/jR+nlAs4IEh2l6yAC
					OgNwiHjDOIJWbupBPuKUkoTIg8EPDbXPGb9m
					fuz447Nm02+XraLNF66jD86ZS2119UnclSoo
					ApoABE7cA0BQywJk0tHQl+AHjSJ6fq32SVx8
					LAQvA5xd+bgJzTZrauvp3o4FtP/CtXT/kmV0
					2bRp+i07H7cC0OgaLQYBbwaAbThiuuLzxVmj
					9Hy52ifRiIlfFf9Cc+O0NnpmyXLacuF6+jDP
					CqbV1CbbUSpnBDQBCHTybLlM6VELne4SQOxQ
					+7pi4/PU3kdrNO1jFYHfsto6+l88K9i9Zh39
					1fyFNLeAr0UffWDlz9EEIH0s/5aKbThhYELg
					glyc1XdU2KS78Qe+FN9OaMikHbVPYgFMIvBv
					mDSZbp/dTl0rL6SvLlxC52kiEE/LqtYEIHD5
					QQmeTNUlQEXPr32Z2icDeBzxq+JM8bG2mbRj
					xYX0+fnnE744pCU+ApoABCsEsD8K+7QEutS+
					jfDUfkLxq+bO+8ysOfT6BWvpA/x5L7yNWEs0
					ApoAfIwkmMETWmrRw7YswpPa1xVaal9H7ZP4
					Ci6ofayEllr0BLsg39q3TJlC3+hYSE+vWE0r
					m/RRYIEtU60JIIgMHMuf/ouj+TzfxtcH398G
					rfYJtMYZv0vrp9Jvl66kj8/t0NlAogfSrjUB
					CCx+sIIngevTwhNd2ZYbiLLt2/i0yNU+ga/g
					MUb44f7A37TPox8tXUVz6gv3EVV0abkUfRQ4
					U0/COc11JBNCy0+FwoetcWKzSm1JbKAgNNtv
					O3OafndmIKlrZMlNR/l8oVGj+Je3IktIkmuf
					L3Se9thtFa9q+MWgtVzX8QtE2yZX0Zzqamrl
					qXdKMfuEBRNCFwA/s48s8b+isYl+w0ngul3b
					qbOnO+UwK31DE4B4AJw06KjisNAR2vg0K5pR
					CwaQJSqzTuF7Amv/QPcx+vL+PZ5BeZC1fN4t
					dXU0t7qG5lfX0pLaWnpLPb82vGEqtVdVFwy/
					xI3a7PFv5zccv7BoBd24v4seOXK4PEAvwFlo
					AnAgIrK5SKC7YdYLYvBELnXCI9lQRjvRt+2l
					ZofUZGF2WB4rvKTz8MCAWYLfpMXDOpdyInhn
					Uyu9hxczW8gZP4tvDvbV/OzA9zoW04f4wyX3
					HTpYHsDneRZ6D0AAhENJ7Eqgi5MZvg1+oY2d
					x4trL/uroBov+Pj+0cP0wZ3bad6Wf6F37Hqd
					/qn7BPHLfxIJ1a9TcDVg237xsDbJFooeLy7+
					3OTX5y6kW9vPM3uq9JUmAOcB7EzGobgygY9t
					FFtbX0zweC1O6xhZ2ju7yiIGzp6l/3fiKN3Y
					9Sot2v4S/Y9j/Nov81n2LPHLE/+72+fTn8yY
					XVngpzlbTQAOFPYoGfFlZIHMOSfkVlkShNlm
					xzU15KIAnqXT2bt9Vjaxn2cGn9rbRYt3vEzf
					6zmexGys8bf99yDPBC5vnVbRnaAJQLrffAVY
					gtkyHQ/BzTxz91lGKsNIOK258cd8U0uDXKe1
					9+RKGgRwifCveUbwzr2v08lh7z+n0uKXL/5J
					+yl8T+ChjiXUXsE/EWoCcEFogxzbMsIj6h1t
					+Yh7n+dGqyzssQ8toxD4Cb8F6Pe6XqHNA/jE
					NwJ1jPD3+m/GlGq6v2NRxT4sFJkAOjs7eWCb
					NGHLOe6sfJY77rhjlKOFM9jxEOSmpKHFeVDL
					Ypw1xMZvy7Ut+lr7COzhD4Fc2bWVnuvHd//G
					An90ANpN9t/GhmZ6X8z7AdX8zMO2bdty9snx
					iiXEbZwSmQDiNFIWOvALswQcxDkLy+USwKiw
					E5nAF2eKa896WkIR6Bkaovfsfo1+3d/Heh6+
					BcEf7aHZ1P77yqx5sV4yMsTHdvfdd4cefykJ
					9TkA11vWMeBw8A3jeInKXMub6aiVmdHDo40z
					sS4cK8oeKgUsTz75ZAFbi25qZGSEEARYenp6
					6OTJk3TixAnaj/f5HzhAP/rRj6IbiaHRzV/0
					+ZP9O2jzwtU0nZ82NOCaewIgGWifzgZ/9G0a
					+za+FPiPM9rpCwd2Rx7dI488UjZJQBOAdLcJ
					Xl7BmYSWJJAYMhKakBkdJvybVCZrxLCX/RWo
					vuqqqwrUUmGawRS3UAW/Etx4oIse71jKTdp2
					88U/xP4TrbPp744eJCSfsIJE95Of/ISuvvrq
					MLWSkOklQEo3sZOZn+3A9B1ZnA/ew8VUzEMt
					tBHEtDe6uoqDAJ4Z+Oc++2FQjNwognmu+Gew
					b+bHhf+0dWZiHxHrBx98MEKjNMSaAKSfgs4k
					22a6KEoIehaIDARoFMeTZCE8T8fNKIyFrmIi
					8KlDezkvA+BC4G/7A82l6b+PtsyKdVTPPfdc
					LL1iV9IEMKqH/ICF0Atoo2u3fdo4k2HwKspe
					9LSOi8BOvhn4/d4TVj1f/MPtV/NLR5fzfw9G
					lV27dtHu3buj1IperglAukiCGNf1KNh2PMNJ
					rHye0JAIHWXvNaVkfATuOWn/g8/h7GGOZhw/
					//77o6Z4Twc++uij8U+gSDU1AUjHwG+cE1mm
					zwNL5FZsKvCw+Lqi5/OgLHzQWrJC4Fc9J6h3
					RF4r5Jnmi38a+2sbW70dZCaff/75zMISkWgC
					kI7yg1NocQ7oCM+nhefrBeW+DmRackIA/278
					2Cm5GWib8LEVGiKhUfu0NRvF8/VY59KaRmqp
					qRHtjPXWrVszykpFoAnA9RSGay7iMImt5Nrw
					PR2nxzzD9mRJqyTl2ye5SmWBwFP99vPhwDIf
					/CPsJ/NPmavrGiOPDPcBSr1oApAelLv72JZn
					AcTJTM0B7usE7XxZmL3YaZ01AtsH+VVq0idi
					LbhLDX4Y/jHtV9ZGv0MQD0Lt2LFDjqQka00A
					Kd0mo7jvJZYnnueSQYqh3Yhhn85MebEQ2DV0
					xiYAJON0JjHwj9l/F9bE+yLxq6++mu5ASoan
					CcDvKjeKWAeDs4Bnfn8GbZXBg6+Z7YBuOl7Q
					3jajVXYIdA/ZJ/TyxT+G/dqa6BkAjn7Pnj3Z
					nUSRaWsCSOkQGUF8JvNSng6Ejg16qEmCMCZx
					7I2irnJAoH94mK3yxT+e/YKq6JuAOIV9+/bl
					cCbFY6IJQPoCIzeCWWoJcglw4fu1c0bPTuRh
					9rJPrbNCAD8C9vI/I7l+yhV/6ecQ+/YpNbHe
					EYD/Cyjlogkgpffs6AAeAtk4CGoUlvnBDRYc
					yb3yy+qITSZ7qGnJGYFJ5lEA9BOXXPCXhB5h
					P4X7saW6zuwmbIX/hizloglAes8ELG+Ig6D2
					aejh7rIEuEkIvG3uOEMXClx8G5+GzNiD0JIL
					AlVsNNV9gAQJORf80Yco0fZ1U6LD48wZvjFZ
					wgWYagEC8tMRaASzbJvAhrNIhKejmcd/ySQQ
					Zs8yLTkhUI8PjKCM6ots8I/ffzUxEnapJ4Do
					FJeAvPzXiG9/Oo+X1svNP8dn5xHaPZVqeXHt
					JY+UP6IFP8Np/NWhvPHPov9q3Gwv86mcPn06
					s7AEJDoDkE5CYE7xAnwyaBEKzUrCNzWMWIYF
					uj5P9EwTnj3UteSEwAIkAMHVxzob/LOwr4ox
					A8CbkUq56AzA7z3/BpOM/ubzNaLE0Svb0A2O
					5nHsgzbStNaRCFxQzb/N54t/FvaiGnZgVVWl
					PYZqAgj2Lq4vTZBysKOWUcAFrjeEu/sETpi4
					Pg21D+5Qt+MicFVdMzokqZ4T/vHth0Zl+OSu
					hcJbgku5lHb6KiTyGL2Nb1gHMUHMK/n/fuwr
					HQ98cUTQ4qDpdA3PKOkqSwTq+SMeV9e2sFWg
					T9BOVvjHtx88Z6Z0oUdaE+O/BkMbmGChzgBC
					O8AbLaAnP+sFbTIGdjr7oLFux0FgA7+ko4mT
					gEuwvlFW+Af6BO1ksO81Tx76OxpNNzdjVlK6
					RWcA0ndwAizwDwR6yqgiStZ5nJ7oi1y2I+w9
					dSXjIfAfGvGuvgLhH6P/MPb3yf8ehBxiW1tb
					iLT4RToDCPYRnAOOZuqA0E8KIpdaVOPai77W
					kQgsaphK19fza7oKib/0m9RyFLb/9g4PUpx7
					AKWeAHQG4He8OINxNNmwChh85JcB0BBLbVVc
					FWXvFJWIg8B/a5nHv/4x2IXCX/pN6uBB8L62
					D8d7wm/BggVB65La1hlASnfBI7i4J82wITzQ
					tuDGIBJAIEckdX1BGntpR+tIBK5oaqM/rp+e
					inW++Mewf2WoP/LYoLBs2bJYesWqpDMA6RkT
					0DZwZQRH7Lr7AX5QM21kLBdd004Me78Z2Xce
					9UR8p+7s2bPu82C9vb3U3d1Nx48fN58Gy+NU
					RpnOrqunf5y+hPlIuD5weeBv9hJt/9JgvASw
					YsWKUcddSgxNAH5vSTCLsxmf852PaQl8pwMl
					y4xlD93Cldtuu61wjRVRS0383P9325bSzMn8
					O7tgDZzzxp9PEl0mbZp6dP/9LsYMYNq0aTR3
					7twiQi37Q9FLAMFMnMIEPZg2UJ2DgMdCbIvz
					GB3rPNnYoyktGRFo5I+BfnfWcrq8hj/QMRb4
					R/Tfaf79f/sAPk8eXpYsweyktIvOAFL6j4PZ
					xLOJZqZtcBsdpsVxZKSXmwBOL4Y9mtaSEYHZ
					dQ300PSltKFmKuuMAf7Yc0T/Pc3B38+XOVFl
					7dq1USpFL9cE4HeRCU6srOPJ6CO148NInJNr
					SQyx7P0dKu0jcNnUafSPrUvovKpaZjOYgrvU
					grnBOVf80S72mtn++2fkM2T+0Y2mr7jiitHM
					EuNoAnAdBofgAucwpN02TPCN17CM+UHazACs
					YpR9onFpVWtGYAa/gfdzLR10a+PsJLZBnIKY
					Aznpi2zwF5sQ+ycHot/yM3kyP5pcBp8H1wQA
					R5ACJ/MdxPBtIjB8Zvg6JthtQhA7qaVNcWSx
					l8sGJ69cYnp1PX20eTZ9urGdGvi6PwVbB0uB
					8Y/ov6eGemjf6VNu75mI5cuXU6k/BIRzi0wA
					69ato82bN2fCYcz5kxA441HMAG+DWYLWBSv4
					OAgT8ZbGcfG2s4M8pj1UK7TA4S7iqf4HG2bR
					TbXTqZZH0gRuACQmfoJ5rviH2N97yn6EFIcT
					UvBZsFx885zMZELaLoRo/fr11NnZGdlUZAKI
					bKFcFKRj4BwmtpnwR3ND26A35wwahesU/QRr
					1Ggm9rIfY1sZqzl8Y29ddSO9s66VbuCgn4nR
					PgEaJ9As8UtkXGsP/Apn/+bZYXq89wgarZii
					CcB1NaLYFhkhpAbbBC50rB4qOC+KkyU2R80K
					UnSsjVUthwpO1MQ37pqrq8zv9uczvXRKPa2q
					qqO3VjfTXH7FNoPEi3fu+eI3BvZfOnUg1t3/
					cugzOQdNAIIEghg+il9/MCs1vwIxQ149hRoF
					z6OD5tfTGwPD523hR9h/or6dbqyT/yDDDm27
					LkDi8uz+J8Aez+XXMUh1vO+6SVOodfIUmozD
					9rEaI/wczjnin8n+Tf7nn/t73wSoFVU0Abju
					RhBjQ2qfFp4NTqPny31adNPxztEMfrJtBuX6
					Fhk/OaD9bMsY2aNZlHHAL33/YOeCu9TpeJn7
					71N9e6h3uLTf74czzrbok4CCmDgxtuU6HTyh
					jR47F4roiszoJUQJuVVQ+5LA79mhXvpeT+WN
					/vBVTQASt4htF8i8AdrEu6VtTCeDH4ZGAUSC
					VHubHEsHv4FzI/TBnjcIXx2sxKIJQHrdBS8Y
					NrBlqu8Hv9BBO7W3wV9a+H20bxd1DfRJb1Zc
					rQnA73IZ0GVqb2TCDCimBLyViarae2AJKB4L
					CbYI8Ltn4BA92H3QP7CKo/UmoHQ5RnvfV2Wk
					N8EMhxUG66XQMGKZJzZNyrbaJ4BNwUzAAXQT
					g9+Tg930X068Ybqqklc6A0jpfS8DOB/1gx9y
					q+PkjkjK0KZjq30yYRYHfr8c7qP3n3yN+mO8
					9htdWc5FZwB+7/qjlHsKkCMZfmsC2kW1tZJk
					IHypWaz2jBnw4KWI8Ht2uJfee2Ib9fDv/lr0
					V4CAD/gjFJxXAtzjGwvhs455UaXdNvqeTO0T
					+JppvmAElofROOL3fwdP0LtPbKWTGvyJfuG1
					XgIIFIh3FHfN7tMQ2oQgeuLEMtILX+0ZKw5w
					A5lgZjaSfKZcEhgn/L50ej/96bGtFfmwj4E7
					w0ovAQQYDEpyCYAbgnisFdtycxA+nLgOSOqZ
					f2QxAvZnqw81tS8a/LpHhunm/h30477K+icf
					uGGcoglAUHKDFAfyJN7As+YyPzJJABmCC2QI
					fCQHsFJoyNW+WPB7ZOQ4ffzULjpwOt4bftG9
					lVY0AUiPIwHIKG6uWXnbXJ9CAQGP2gY/SMMz
					TEt7PLUHGBOG376RIbr1dBc9rqN+oh9C1poA
					BByTAHjD1UxIQoAOaD/ojUz4XJsZgU0UUHXb
					Nkmo/ZjjN8Szs6+cOUhfPrWPuvVGH+MdXTQB
					CEY2Ts2mSQIy6nPtB7TZsEaSBFzWsHy1t8kT
					eIw9fkN8vfbVwcP0PwcO0IGYH/SwPVXxlSYA
					cQET5LLBNUZwF8iGSGxLsENuCgytsUz9wVf7
					McfvNL+6+++GD9FXBw7SQQ18443ZrjQBCGKI
					ZyzmBR9cn+WgdjcBLW2C2tIiN3f80Qjz5e4/
					NkXu02rPGOeP36/P9dE9g2/SDwaOUfeIPtAD
					F8u1aAIQ5OwgbzbN6G4DGnf9JbjNSM+bEvSi
					J4Ht2vJs1L4g+B3kQL9/+Cg9MHSEXh3oEaS1
					zhMBTQBBAPHzn7lhZwUyrfcTBERIApIQRAcs
					tS8Yfs+f7aWHh4/Rk8PdJugN5MBYS8EQ0AQg
					UCLA/SLbPBGQy35TYyU3/0TmFLwG1D4BhmAk
					dQb8TvMs6pfneunZkV769dk++pfBPjoyNOAB
					quRYIKAJIB2qEryQCS01Rn2hpZaZgLTl+Gof
					xGqEsdl+doC20gC9eraflwHqHOmnXaf7aED/
					O088aNxqTQACtR+0MloFa+iCJwU2oiM81MIL
					1iIT3RK2P8PXQKdHeJnMC4/e2B7gu/InJ43Q
					mzRIh84O0RF+0dbhc0N07BzXZwdpHy+H+G79
					GXPvREDQeiIR0ARg0Z9/8lcT2Q8lte9SuRZf
					tWoVvfLKKyWF7XgfrPzQNd77Lbr9wal1iYdB
					0XVe4IDWrFlD3/72t2nLli0BiW4GEdAZQBAR
					3S5JBGpqaujyyy+nT37yk3TttdeW5DlMxEFr
					ApgI1HWfBUNg3rx5dNNNN9Ftt91Gc+fOLVi7
					ldKQJoBK6ekyOs/W1lZ661vfSh/5yEd0tM+z
					XzUB5Amgmo8PAueffz5t2rSJbrjhBrrqqqto
					ypQp47PjMt+LJoAy7+BSPb2Ojg5at24dbdiw
					ga6//npavnx5qZ5KUR+3JoCi7p7yP7hJ/FTl
					rFmzaOHChXTRRReZG3kbN240vPI/+4k/Q00A
					E98HZX0EVVVV1NTURC0tLTR9+nSaP38+LV26
					lFasWEH4nX716tXU0NBQ1hgU88lpAsiydz72
					sY9laTG26vfcc8/Y7iDL1r/1rW/RzJkzac6c
					OeauPGi9Xs8SxHFUl4dVx3GX2e3qXJE9Noop
					azEVxSe8NxSfUHye1CcBQ/FRoSJQ1gj0aQIo
					6/7Vk1MEQhHo1QQQio8KFYGyRqBHE0BZ96+e
					nCIQisBuTQCh+KhQEShrBF7TBFDW/asnpwiE
					ImASwKlQFRUqAopAOSKAuO/CDOC5cjw7PSdF
					QBEIReBZlg4jAfw0VE2FioAiUI4IPI2TQgJ4
					qhzPTs9JEVAEQhEwcS/Pte5g1cWh6hMk1Ec5
					w4FXfBSfcATSSt9g7hJI5FeAB9KqKVMRUATK
					EQEX7zIDWMRniaxQdEVHuPAuUXwUn3AE0kox
					2++CRGYA2HgMDC2KgCJQ1gggzk3w4ywlAYD+
					IlZaFAFFoKwRSIlzPwG8wKdtfhoo69PXk1ME
					KhcB/OSPOHdF7gEI4xImoBDki3zca73GDYdc
					8VF8whFwUnyJcgMvKd/A82cA0ITw6yC0KAKK
					QFkhgLhOCX6cXbqRfjrzt/PSBoWJLjrChfeA
					4qP4hCNgpMd4vYyX40Hd4AwAcih9JKio24qA
					IlCyCCCeRwU/ziZdAgD/YV7uBqFFEVAEShoB
					xDHiOW1JdwkgirVM/IKXi4QxEbVOccNRV3wU
					nxAEXmTZZbycyaSTaQYAfRhdx8tObGhRBBSB
					kkIAcYv4zRj8OJuwBAD5m7z8IS+HsaFFEVAE
					SgIBxCviFvEbWqISAIzxn4JX86JJAGhoUQSK
					GwHEKeIVcRtZ4n4arJNbwrXEE7wsjGy1gArr
					168vYGvl15TiE96nFYYPpv0Y+WMFP5ALuwkI
					ebC0M+OHvEzojcHgQem2IqAIEG744Zo/ctrv
					YxXnEsDXR+OYCehPhD4qSisCE4sA4hFxmVXw
					45CznQHARsoNTNzLS1E8MSgHpbUiUEEIHONz
					xUM+GX/nj8JiSpRCiHwby/B8MR4d/j1e8kkm
					bK5FEVAEYiKAf+xB7L2Hl9/GtBlTNfwXIf7V
					EAemi2KgPjB2PoA4Q7wVZdnAR4WbhOoAioH6
					QGF9AHGF+CpoGatp+yI+ylvsgvePaVEEFIHs
					EcB7OvECTyzuNV7ZN5PZYqwSgL9H/GR4JS8b
					ebmcl0ZetCgCisBoBPC5LnypC9P8p3jBT3tj
					WsYjAfgngAePMDu4wC4LuG7mpcku1VxrUQTK
					GYEhPrleu/RwvZuX1+yCUX6Yl3Er/x9NuPum
					XN1/OQAAAABJRU5ErkJggg==
					</data>
					<key>LogoFilename</key>
					<string>icon@2x.png</string>
					<key>LogoUsed</key>
					<true/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PinnedTabIconUsed</key>
					<false/>
					<key>PublishingDestinations</key>
					<array/>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Blankstrap</string>
					<key>TitleText</key>
					<string>Blankstrap Theme</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>17B6D272-1491-428B-8658-E7E045A4A9DA_rwbackup</string>
					<key>UserAgentResizingPreset</key>
					<integer>0</integer>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>cacheBustingString</key>
					<string>?rwcache=521636566</string>
					<key>hasChangedGlobalBody</key>
					<false/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<false/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<false/>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
