#blankstrap-nav {
    display: none;
}

#blankstrap-nav img {
    display: none;
}

#blankstrap {
    display: none;
    background-color: %color_content_background%;
    color: %color_content_text%;
}

.blankstrap-hide {
    display: none;
}

#blankstrap-nav-container .navbar-nav .nav-item + .nav-item {
    margin-left: inherit;
}

#blankstrap-nav-container .navbar-nav .nav-item {
    margin-right: auto;
}

.album-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

#blankstrap-footer {
    display: none;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 1em;
    border-top: 1px solid;
}