#blankstrap-nav {
    display: none;
}

#blankstrap-nav img {
    display: none;
}

#blankstrap {
    display: none;
    background-color: %color_content_background%;
    color: %color_content_text%;
}

.blankstrap-hide {
	display: none;
}
