<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RWAddonAuthor</key>
	<string>Jannis and Gary</string>
	<key>RWAddonManagerIconAsset</key>
	<string>icon</string>
	<key>RWAddonSupportURL</key>
	<string>https://github.com/jrondorf/Blankstrap</string>
    <key>RWThemeIsResponsive</key>
    <true/>
	<key>CFBundleIdentifier</key>
	<string>blankstrap</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleVersion</key>
	<string>0.0.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Jannis and Gary</string>
	<key>author/copyright info</key>
	<string>Jannis and Gary</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/jrondorf/Blankstrap/master/appcast.xml</string>
</dict>
</plist>
