<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RWAddonAuthor</key>
	<string>Blankstrap</string>
	<key>RWAddonManagerIconAsset</key>
	<string>icon</string>
	<key>RWAddonSupportURL</key>
	<string>http://blankstrap.com</string>
    <key>RWThemeIsResponsive</key>
    <true/>
	<key>CFBundleIdentifier</key>
	<string>blankstrap</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleVersion</key>
	<string>102</string>
	<key>NSHumanReadableCopyright</key>
	<string>Blankstrap</string>
	<key>author/copyright info</key>
	<string>Blankstrap</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/jrondorf/Blankstrap/master/appcast/appcast-theme.xml</string>
	<key>RWThemeSDKVersion</key>
	<string>7.0</string>
</dict>
</plist>
