<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RWColourTagCSSFiles</key>
	<array>
		<string>colourtag.css</string>
	</array>
	<key>RWCopyFiles</key>
	<array>
		<string>css</string>
		<string>fonts</string>
		<string>js</string>
		<string>colourtag.css</string>
		<string>javascript.js</string>
	</array>
	<key>RWStyleVariations</key>
	<dict>
		<key>RWStyleGroups</key>
		<array>
			<dict>
				<key>GroupDisplayName</key>
				<dict>
					<key>en</key>
					<string>Styles</string>
				</dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Default</string>
						</dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Default</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Cerulean</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/cerulean/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Cerulean</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Cosmo</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/cosmo/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Cosmo</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Custom</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/custom/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Custom</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Cyborg</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/cyborg/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Cyborg</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Darkly</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/darkly/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Darkly</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Flatly</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/flatly/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Flatly</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Journal</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/journal/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Journal</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Litera</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/litera/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Litera</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Lumen</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/lumen/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Lumen</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Lux</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/lux/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Lux</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Materia</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/materia/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Materia</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Minty</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/minty/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Minty</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Pulse</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/pulse/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Pulse</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Sandstone</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/sandstone/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Sandstone</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Simplex</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/simplex/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Simplex</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Sketchy</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/sketchy/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Sketchy</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Slate</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/slate/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Slate</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Solar</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/solar/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Solar</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Spacelab</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/spacelab/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Spacelab</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Superhero</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/superhero/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Superhero</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>United</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/united/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>United</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Yeti</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/yeti/bootstrap.min.css</string>
						</array>
						<key>Name</key>
						<string>Yeti</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Styles</string>
				<key>GroupSelectionLimit</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>GroupDisplayName</key>
				<dict>
					<key>en</key>
					<string>Settings</string>
				</dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>js/navigation.js</string>
						</array>
						<key>Name</key>
						<string>Display Navigation</string>
						<key>Type</key>
						<string>Javascript</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/font-awesome.min.css</string>
						</array>
						<key>Name</key>
						<string>Include Font Awesome</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Settings</string>
				<key>GroupSelectionLimit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>GroupDisplayName</key>
				<dict>
					<key>en</key>
					<string>Colors</string>
				</dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>js/body-background-color.js</string>
						</array>
						<key>Name</key>
						<string>Override Body Background Color</string>
						<key>Type</key>
						<string>Javascript</string>
					</dict>
					<dict>
						<key>DefaultColour</key>
						<string>#FFFFFF</string>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Body Background Color</string>
						</dict>
						<key>Name</key>
						<string>Body Background Color</string>
						<key>Tag</key>
						<string>%color_body_background%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>js/body-color.js</string>
						</array>
						<key>Name</key>
						<string>Override Text Color</string>
						<key>Type</key>
						<string>Javascript</string>
					</dict>
					<dict>
						<key>DefaultColour</key>
						<string>#FFFFFF</string>
						<key>DisplayName</key>
						<dict>
							<key>en</key>
							<string>Text Color</string>
						</dict>
						<key>Name</key>
						<string>Text Color</string>
						<key>Tag</key>
						<string>%color_body_text%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Colors</string>
			</dict>
		</array>
	</dict>
	<key>RWTemplateHTML</key>
	<string>index.html</string>
	<key>RWTextToolbar</key>
	<dict>
		<key>RWAlwaysDisplayFullNavigation</key>
		<true/>
		<key>RWAlwaysDisplayFullSubNavigation</key>
		<true/>
		<key>RWBreadCrumb</key>
		<string>&lt;ul class="breadcrumb"&gt;%items%&lt;/ul&gt;</string>
		<key>RWBreadCrumbItem</key>
		<string>&lt;li&gt;&lt;a href="%url%"&gt;%title%&lt;/a&gt;%separator%&lt;/li&gt;</string>
		<key>RWBreadCrumbSeparator</key>
		<string>&amp;nbsp;&gt;&amp;nbsp;</string>
		<key>RWSupportedLevels</key>
		<integer>3</integer>
		<key>RWToolbarItemNormal</key>
		<string>&lt;li class="nav-item"&gt;&lt;a href="%url%" rel="%rel%" class="nav-link normal"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemCurrent</key>
		<string>&lt;li class="nav-item"&gt;&lt;a href="%url%" rel="%rel%" class="nav-link current active"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemCurrentParent</key>
		<string>&lt;li class="nav-item"&gt;&lt;a href="%url%" rel="%rel%" class="nav-link currentParent active"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemCurrentAncestor</key>
		<string>&lt;li class="nav-item"&gt;&lt;a href="%url%" rel="%rel%" class="nav-link currentAncestor active"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemCurrentAncestorParent</key>
		<string>&lt;li class="nav-item"&gt;&lt;a href="%url%" rel="%rel%" class="nav-link currentAncestorParent active"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemNormalParent</key>
		<string>&lt;li class="nav-item"&gt;&lt;a href="%url%" rel="%rel%" class="nav-link normalParent"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarList</key>
		<string>%items%</string>
	</dict>
	<key>RWThemeAuthor</key>
	<string>inStacks Software feat. WEBdeerSIGN</string>
	<key>RWAddonAuthor</key>
	<string>inStacks Software feat. WEBdeerSIGN</string>
	<key>RWThemeCapabilities</key>
	<dict>
		<key>RWSupportsContentOnlySubPages</key>
		<true/>
		<key>RWSupportsDisplayNames</key>
		<true/>
		<key>RWSupportsPathTo</key>
		<true/>
		<key>RWSupportsToolbarRelTag</key>
		<true/>
	</dict>
	<key>RWThemeDisplayName</key>
	<dict>
		<key>en</key>
		<string>Blankstrap</string>
	</dict>
	<key>RWThemeImage</key>
	<string>preview.png</string>
	<key>RWThemeImageLarge</key>
	<string>preview_large.jpg</string>
	<key>RWThemeKeyWords</key>
	<array>
		<string>Blankstrap</string>
		<string>Blank</string>
		<string>Bootstrap</string>
	</array>
	<key>RWThemeName</key>
	<string>Blankstrap</string>
	<key>RWThemeShortName</key>
	<string>Blankstrap</string>
	<key>RWAddonSupportURL</key>
	<string>https://github.com/jrondorf/Blankstrap</string>
	<key>RWVersion</key>
	<integer>7</integer>
</dict>
</plist>
