<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>CEBC4C7C-E69B-4206-9382-9AA5DA9A89E3</string>
	<key>type</key>
	<string>partial</string>
</dict>
</plist>
