<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>author/copyright info</key>
    <string>Futural UG (haftungsbeschraenkt)</string>
    <key>CFBundleIdentifier</key>
    <string>com.instacks.blankstrap5.core</string>
    <key>CFBundleVersion</key>
    <string>5.0.5</string>
    <key>CFBundleShortVersionString</key>
    <string>5.0.5</string>
    <key>author</key>
    <string>inStacks Software</string>
    <key>group</key>
    <string>Blankstrap 5</string>
    <key>RWAddonAuthor</key>
    <string>inStacks Software</string>
    <key>RWAddonManagerIconAsset</key>
    <string>icon</string>
    <key>RWAddonSupportURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>helpURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>infoURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>icon</key>
    <string>icon</string>
    <key>minAPIVersion</key>
    <integer>11</integer>
    <key>preprocessor</key>
    <true/>
    <key>inline</key>
    <true/>
    <key>title</key>
    <string> Blankstrap 5</string>
    <key>subtitle</key>
    <string>Blankstrap 5</string>
    <key>customItems</key>
    <array>
        <dict>
            <key>id</key>
            <string>style</string>
            <key>type</key>
            <string>select</string>
            <key>default</key>
            <string>default</string>
            <key>title</key>
            <string>Style</string>
            <key>toolTip</key>
            <string>Bootstrap styling</string>
            <key>items</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>Default</string>
                    <key>value</key>
                    <string>default</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Custom CSS File</string>
                    <key>value</key>
                    <string>custom</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>id</key>
            <string>custom</string>
            <key>type</key>
            <string>link</string>
            <key>default</key>
            <string></string>
            <key>title</key>
            <string>Custom CSS File</string>
            <key>toolTip</key>
            <string>Custom CSS File</string>
            <key>enable</key>
            <dict>
                <key>id</key>
                <string>style</string>
                <key>value</key>
                <string>custom</string>
            </dict>
        </dict>
    </array>
    <key>assets</key>
    <array>
        <dict>
            <key>filename</key>
            <string>blankstrap5</string>
            <key>siteAsset</key>
            <true/>
        </dict>
    </array>
    <key>libraries</key>
    <array>
    </array>
    <key>tags</key>
    <array>
        <string>Blankstrap 5</string>
        <string>Bootstrap</string>
        <string>B5 Core</string>
    </array>
    <key>templates</key>
    <array>
        <dict>
            <key>filename</key>
            <string>page.html</string>
            <key>type</key>
            <string>html</string>
            <key>scope</key>
            <string>page</string>
        </dict>
        <dict>
            <key>filename</key>
            <string>pageBodyBelow.html</string>
            <key>type</key>
            <string>html</string>
            <key>scope</key>
            <string>pageBodyBelow</string>
        </dict>
        <dict>
            <key>type</key>
            <string>html</string>
            <key>filename</key>
            <string>each.html</string>
        </dict>
        <dict>
            <key>type</key>
            <string>css</string>
            <key>filename</key>
            <string>each.css</string>
        </dict>
        <dict>
            <key>type</key>
            <string>js</string>
            <key>filename</key>
            <string>each.js</string>
        </dict>
    </array>
</dict>
</plist>
