<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>author/copyright info</key>
    <string>Futural UG (haftungsbeschraenkt)</string>
    <key>CFBundleIdentifier</key>
    <string>com.instacks.blankstrap5.button</string>
    <key>CFBundleVersion</key>
    <string>5.1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>5.1.0</string>
    <key>author</key>
    <string>inStacks Software</string>
    <key>group</key>
    <string>Blankstrap 5</string>
    <key>RWAddonAuthor</key>
    <string>inStacks Software</string>
    <key>RWAddonManagerIconAsset</key>
    <string>icon</string>
    <key>RWAddonSupportURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>helpURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>infoURL</key>
    <string>https://github.com/instacks/blankstrap</string>
    <key>icon</key>
    <string>icon</string>
    <key>minAPIVersion</key>
    <integer>11</integer>
    <key>preprocessor</key>
    <true/>
    <key>inheritsFrom</key>
    <string>com.instacks.blankstrap5.element</string>
    <key>inline</key>
    <true/>
    <key>title</key>
    <string>Button</string>
    <key>subtitle</key>
    <string>Button</string>
    <key>customItems</key>
    <array>
        <dict>
            <key>id</key>
            <string>type</string>
            <key>type</key>
            <string>select</string>
            <key>default</key>
            <string>link</string>
            <key>title</key>
            <string>Type</string>
            <key>toolTip</key>
            <string>Type</string>
            <key>items</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>Link</string>
                    <key>value</key>
                    <string>link</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Open Modal</string>
                    <key>value</key>
                    <string>modal-open</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Close Modal</string>
                    <key>value</key>
                    <string>modal-close</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Submit Form</string>
                    <key>value</key>
                    <string>submit</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>id</key>
            <string>link</string>
            <key>type</key>
            <string>link</string>
            <key>default</key>
            <string>#</string>
            <key>title</key>
            <string>Link</string>
            <key>toolTip</key>
            <string>Link</string>
            <key>enable</key>
            <dict>
                <key>id</key>
                <string>type</string>
                <key>value</key>
                <string>link</string>
            </dict>
        </dict>
        <dict>
            <key>id</key>
            <string>modal</string>
            <key>type</key>
            <string>input</string>
            <key>default</key>
            <string>#</string>
            <key>title</key>
            <string>Modal ID</string>
            <key>toolTip</key>
            <string>Modal ID to open</string>
            <key>enable</key>
            <dict>
                <key>id</key>
                <string>type</string>
                <key>value</key>
                <string>modal-open</string>
            </dict>
        </dict>
        <dict>
            <key>type</key>
            <string>divider</string>
        </dict>
        <dict>
            <key>id</key>
            <string>color</string>
            <key>type</key>
            <string>select</string>
            <key>default</key>
            <string>primary</string>
            <key>title</key>
            <string>Color</string>
            <key>toolTip</key>
            <string>Color</string>
            <key>items</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>Primary</string>
                    <key>value</key>
                    <string>primary</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Secondary</string>
                    <key>value</key>
                    <string>secondary</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Success</string>
                    <key>value</key>
                    <string>success</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Danger</string>
                    <key>value</key>
                    <string>danger</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Warning</string>
                    <key>value</key>
                    <string>warning</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Info</string>
                    <key>value</key>
                    <string>info</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Light</string>
                    <key>value</key>
                    <string>light</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Dark</string>
                    <key>value</key>
                    <string>dark</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Transparent</string>
                    <key>value</key>
                    <string>transparent</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Link</string>
                    <key>value</key>
                    <string>link</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>id</key>
            <string>outline</string>
            <key>type</key>
            <string>checkbox</string>
            <key>default</key>
            <false/>
            <key>title</key>
            <string>Outline Button</string>
            <key>toolTip</key>
            <string>Outline Button</string>
        </dict>
        <dict>
            <key>id</key>
            <string>size</string>
            <key>type</key>
            <string>select</string>
            <key>default</key>
            <string></string>
            <key>title</key>
            <string>Size</string>
            <key>toolTip</key>
            <string>Size</string>
            <key>items</key>
            <array>
                <dict>
                    <key>title</key>
                    <string>Small</string>
                    <key>value</key>
                    <string>btn-sm</string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Default</string>
                    <key>value</key>
                    <string></string>
                </dict>
                <dict>
                    <key>title</key>
                    <string>Large</string>
                    <key>value</key>
                    <string>btn-lg</string>
                </dict>
            </array>
        </dict>
    </array>
    <key>assets</key>
    <array>
    </array>
    <key>libraries</key>
    <array>
    </array>
    <key>tags</key>
    <array>
        <string>Blankstrap 5</string>
        <string>Bootstrap</string>
        <string>Link</string>
        <string>B5 Button</string>
    </array>
    <key>templates</key>
    <array>
        <dict>
            <key>type</key>
            <string>html</string>
            <key>filename</key>
            <string>each.html</string>
        </dict>
        <dict>
            <key>type</key>
            <string>css</string>
            <key>filename</key>
            <string>each.css</string>
        </dict>
        <dict>
            <key>type</key>
            <string>js</string>
            <key>filename</key>
            <string>each.js</string>
        </dict>
    </array>
</dict>
</plist>